[2019-04-01 16:57] jdn-za opened #1 "Browser user/password?"
On running the install as per the readme I get prompted for a basic auth user & password.

This prevents me from getting to enter in the auth token

edit: forgot to mention I was trying to access it doing a `kubectl port-forward service/k8dash 8080:80`

[2019-04-02 04:34] boosis commented on #1
I did exactly the same but instead of user and password, it asked me to paste the token. And once I did that, I was able to login.

[2019-04-02 08:47] zetaab opened #2 "OIDC groups not supported"
it seems that oidc scope information is hardcoded. We are using oidc groups to authenticate against k8s. If oidc scope could be manually defined I think groups could work.

[2019-04-02 10:37] zetaab commented on #1
I am using OIDC for login, i need to press like two times cancel to user+password and then it will login and works

[2019-04-02 13:39] #2 closed

[2019-04-02 13:43] herbrandson commented on #1
I wasn't able to reproduce this last evening. I thought that perhaps it was because the cluster I was testing against was using OIDC, but based on the comment from @zetaab it sounds like the issue was happening even with OIDC. Can you provide any further information about your cluster? How was it installed (i.e. kubeadm, kops, eks, gke)?

[2019-04-02 15:57] scottconrad88 commented on #1
@herbrandson I was getting the same issue as @jdn-za above when I was using `kubectl port-forward ...` I switch it over to use the `Ing` resource you mentioned in the README but saw the same error.

I dug into the nginx logs and found this `GET` request
[code]

I don't have OIDC enabled on the cluster I wanted to test this out on but looks like it might be defaulting to it..?

[2019-04-02 16:21] herbrandson commented on #1
Thanks for the feedback @scottconrad88. That api is actually expected even when OIDC is not enabled. That call is actually checking with the backend to see if OIDC is configured or not.

It's interesting that you see it even using the ingress controller. Is there any chance you could open the browser developer tools to see if we can figure out which network call is generating the prompt?

Also, wh

[2019-04-02 16:42] scottconrad88 commented on #1
Ah sorry about that @herbrandson didn't dive into that endpoint to much.  That makes sense.  The endpoint that is generating the request is `Request
URL: https://dash.containers.rocketrip.com/openapi/v2` Below is a screen shot and what the network request looks like.

<img width="1070" alt="Screen Shot 2019-04-02 at 12 41 20 PM" src="https://user-images.githubusercontent.com/42144983/55420303-b091

[2019-04-02 16:59] botzill opened #5 "Helm chart?"
Hi.

Do you plan to create a helm chart for it? Will be easier to test.

Thx.

[2019-04-02 17:56] herbrandson commented on #5
I really like this idea as I know a lot of people use helm. Unfortunately, I don't have any experience with helm (and no way to test a chart if I made one). If anyone could put together a chart, I'd be happy to approve a PR :)

[2019-04-02 18:08] herbrandson commented on #1
Thanks @scottconrad88. That's really helpful. I _think_ I know what's causing this now. I've pushed a fix to the `dev` branch. It's currently building a new container on docker hub under the `k8dash:dev` label. Any chance someone would be will to test it out?

[2019-04-02 18:10] scottconrad88 commented on #1
No problem @herbrandson. I'll update my k8s yaml file to use that image and I can test it out.

[2019-04-02 18:11] herbrandson commented on #1
Great. Just waiting for the build to clear the docker hub queue. I'll keep you posted. Thanks again!

[2019-04-02 18:23] herbrandson commented on #1
Ok, it's built and ready to go. Just change the image in the yaml to `herbrandson/k8dash:dev`. Let me know how it goes.

[2019-04-02 18:27] scottconrad88 commented on #1
@herbrandson yup looks like that fixed it.  Thanks for the quick turnaround!

[2019-04-02 18:34] herbrandson commented on #1
Thank you for helping track it down :)

Deploying the fix now. Should be available on the `k8dash:latest` tag from docker hub in the next 10-15 minutes.

[2019-04-02 18:34] #1 closed

[2019-04-03 09:48] frohikey opened #6 "Auth issues - call to /tokenreviews fails"
Environment:
AKS (K8s version 1.12.6)

With ingress (Nginx):
Login page is loaded (GET) but any POST fails because endpoint returns 404.
Error message: Error occured attempting to login.
Instead of contacting API, request is routed back to web.

[code]

Logs:
[code]

The same thing happens when port-forwarded.

[code]

[2019-04-03 14:11] herbrandson commented on #6
Thanks for reporting the issue. A couple quick questions to help me track this down...

1. Are you logging in with a service token or do you have OIDC setup?
2. Using port forwarding, could you try doing a get on `http://localhost:4654/openapi/v2` and sending me the response JSON (it'll be quite large).
3. Depending on the results of #2, I think I have a quick/easy fix. If so, would you be able to

[2019-04-03 15:03] frohikey commented on #6
1) service token, thus your log line ```OIDC_URL:  None``` is correct
2) unfortunately response is quite short 😳

```default backend - 404```

3) sure. I'm 100% ready to test whatever you need. I'm quite curious since I'm not a big fan of default dashboard. I was thinking about writing my own but you may save me a lots of work and become my hero 😁

[2019-04-03 21:09] herbrandson commented on #5
@botzill a helm chart was just added by #8 (thanks to @IvanKirianov). Will you give it a try and let me know how it goes?

[2019-04-04 04:05] herbrandson commented on #6
Thanks @frohikey. I pushed an update to the `herbrandson/k8dash:dev` label. This includes two things

1. A slight change to the way tokens are validated
2. Some additional server logging at startup to verify which API's are available for your cluster

My suspicion is that number 1 _won't_ solve the issue, but that number 2 will point us in the right direction. Let me know when you've had a chance

[2019-04-04 04:27] botzill commented on #5
The best source of inspiration is: https://github.com/helm/charts/tree/master/stable/kubernetes-dashboard. This is a complete guide including creating a service account and role binding as we as ingress. The current implementation is good but limited. A helm chart should include all it needs to run the dashboard.

[2019-04-04 07:45] frohikey commented on #6
Here comes my report using image ```herbrandson/k8dash:dev```

Client side:

[code]

Logs:

[code]

[2019-04-04 17:52] herbrandson commented on #5
Thanks for the feedback. I’ll check it out

[2019-04-04 18:17] herbrandson commented on #6
Thanks for the info. Really sorry you're still having this issue. I'm not sure why you'd be getting a 404 on that call. The logs clearly show that the api exists. I've posted some questions about it and will let you know when I know more. Thanks for your patience.

[2019-04-05 00:55] herbrandson commented on #6
@frohikey I've been working with a couple people from the k8s team and the general consensus is that this is happening because the provided token is failing to authenticate. Now, why that's returning a 404 seems strange. I hate to ask, but would you mind double checking that the token you're providing is valid?

[2019-04-05 08:21] frohikey commented on #6
I'm 100% positive. I decided to test API call directly. Here's token:

[code]

Client side request:

[code]

JS log:

[code]

Testing REST API call in Insomnia:

![image](https://user-images.githubusercontent.com/13802274/55613525-27b8bd80-578b-11e9-85b0-a4ad986fbfb4.png)

It works great with the same token.

I may have some free time this weekend I will try to make a fork. I think there's a bad e

[2019-04-05 15:29] herbrandson commented on #6
Thanks for the info. I'm also hoping to have some time to investigate this weekend. Feel free to hit me up in the Kubernetes slack channel if you have any questions. My username is "Eric Herbrandson"

[2019-04-06 15:55] frohikey commented on #6
I know why I'm not a big fan of proxies.
I fixed it by adding ``changeOrigin: true`` for proxy in the server.

Thus now it looks like this:

```const proxySettings = {target, agent, secure: false, ws: true, changeOrigin: true, onError};```

It works for me perfectly. Of course question is... how it runs in other environments.
When port-forwarded it still fails. Could you test it with this option?

[2019-04-06 17:21] herbrandson commented on #6
Thanks for tracking that down. I'll test with the `changeOrigin: true` setting.

Let me know what other bugs you find. I'll take a look asap.

[2019-04-06 20:49] herbrandson commented on #6
@frohikey I've tested the `changeOrigin: true` setting and it doesn't seem to cause any issues for any of my clusters. I am really curious what could be different between our environments that makes this necessary for you but not for me (or others). Crazy.

Anyhow, thanks a TON for your help in tracking this down. When you've got a second, would you mind grabbing the latest `herbrandson/k8dash:dev

[2019-04-06 20:51] herbrandson commented on #5
@botzill I've added the support for the ingress controller per your suggestion and merged it into the `dev` branch. However, I do not currently have a cluster running Helm :(. Any chance you'd mind giving it a test drive when you've got a sec?

Thanks

[2019-04-07 14:11] adi90x commented on #6
Hello,
Just try the `:dev` tag and I got the same issue : `Error occured attempting to login` when using token to log ( token is working fine )
Logs are :

`GET /static/js/main.74ddf54b.chunk.js 304`
`GET /oidc 304`
`GET / 200`
`[HPM] POST /apis/authorization.k8s.io/v1/selfsubjectaccessreviews -> https://10.43.0.1:443`
`POST /apis/authorization.k8s.io/v1/selfsubjectaccessreviews 201`

Any  idea of

[2019-04-07 14:27] frohikey commented on #6
@herbrandson The latest dev image works great.

Well, I got 3 thumbs up with the issue so I was probably not alone 😁 I guess if it runs with ingress w/ controller there's one "extra hop" and original source is being lost. This option just forces using "x-http-headers" to keep it routed properly.

@adi90x It's probably another issue. You logs looks fine. It'd follow with redirect to root /. Post re

[2019-04-07 15:36] adi90x commented on #6
@frohikey  my bad I think my account service was not setup properly.

[2019-04-07 16:47] #6 closed

[2019-04-07 17:11] herbrandson commented on #6
@frohikey Yeah, totally didn't to mean to imply that there wasn't a real issue there. Re-reading my last comment, it does come off as defensive. Sorry about that. That wasn't my intent. Thanks so much for your help tracking this down. I really appreciate the effort you put in!

@adi90x Sounds like you've got your issue resolved?

I think everything is resolved on this ticket at this point. I'll cl

[2019-04-07 20:02] frohikey commented on #6
@herbrandson No problem. That idea didn't even pop in my mind. And moreover I am no snowflake 😋 I know that hell trying to fix some issues when you can't reproduce it in your own env. Just basically the worst kind of hell. So I was happy to resolve it.

Keep up the good work!

[2019-04-08 21:18] linuxshokunin opened #11 "Invalid credentials with oidc auth with dex"
Hi,

I get invalid credentials error like below when authenticated with dex as an oidc-provider.

[code]

If I turn off oidc auth, k8dash asks for token and it works if I enter a valid token.
Dex is authenticating with github.com and it works fine with kubectl.
Here is the kubectl settings

[code]

And this is k8s yaml manifests

[code]

Do you have any idea?

[2019-04-08 21:21] linuxshokunin commented on #11
Forgot to say, this dashboard is awesome.

[2019-04-08 23:57] herbrandson commented on #11
Thanks for filing the issue. I'm not familiar with Dex, but after reading a couple blogs about it, it looks pretty cool!

I'm not sure offhand what would be going wrong. Are there any logs on the dex end? Can we confirm that the request is at least getting there?

[2019-04-09 10:25] linuxshokunin commented on #11
Dex looks fine. I can see login successful with github in the dex logs. If I change client id on k8dash side, dex complains with invalid client_id.

When I accessed the dashboard, it gets forwarded to dex and then to github, and then come back to the dashboard. However, dashboard shows an error "login failed".

I will play with it more to find out.

[2019-04-09 21:19] linuxshokunin commented on #11
I found out that it's in loop of authentication like:
k8dash -> dex -> github -> dex -> k8dash -> dex -> github

I guess k8dash is not compatible with oidc providers.
Would that be possible to add compatibility with oidc providers such as dex.

[2019-04-09 22:07] linuxshokunin commented on #11
It looks like fixed the problem. I needed to encode the client secret with base64.

[2019-04-09 23:03] herbrandson commented on #11
Great! I'm glad you were able to figure it out. And thanks for leaving a comment with the solution. Hopefully that saves the next person some time :)

Can we close this at this point or are there still pending issues getting OIDC working in your environment?

[2019-04-10 07:39] Elexy opened #12 "Installation on AKS"
This is probably a question more than an issue.

I tried installing the k8dash on an `Azure aks` at version `1.12.6` with rbac enabled.
Following the manual I am unable to get the auth token (option 1)  to work.

In the logs I see
[code]
The `"no RBAC policy matched"` seems ominous. Is there any way you could help me get this awesome dashboard up and running?

[2019-04-10 13:37] herbrandson commented on #12
hey @Elexy. Sorry you're having issues.

The "no RBAC policy matched" is actually misleading. At startup, the server attempts to call one of the authentication apis as a non-authenticated user, just to make sure the api exists. I really need to remove (or improve) that logging as it clearly leads to confusion.

As to why you're not able to login, that last line looks like you're token is returning

[2019-04-10 19:37] linuxshokunin commented on #11
Yes. It works fine now.

[2019-04-10 19:37] #11 closed

[2019-04-10 20:45] herbrandson commented on #11
Good to hear :)

Please don't hesitate to file feature requests as you use k8dash more. I'd love feedback on how to make it better

[2019-04-11 10:31] linuxshokunin opened #13 "'Ram used' pi graph isn't correct."
Hi

Total and used ram should show up the other way around.
"Ram used" is showing 123.6GB of 14.4GB.

[2019-04-11 11:26] jdn-za commented on #1
Just got back to this, thanks for the fix

[2019-04-11 13:31] herbrandson commented on #13
Are you seeing this for pods or for nodes? This is technically possible for pods, since it is a measure of how many resources they have been allocated (i.e. the requested resources) vs. how many resources are actually being used. This is especially likely in the case where you have some number of pods that don't specify resource requests/limits.

That being said... it's clearly confusing. Any thou

[2019-04-11 15:08] linuxshokunin commented on #13
Sorry, I didn't specify the page properly.

It's in the cluster screen.
This shows total requested rams for pods vs actual use. Most of the pods don't have resource requests so yeah I got it now.

Is it possible to exclude pods without resources requested?

[2019-04-11 16:21] frohikey commented on #13
I think there's much emphasis on requested resources. I was a little bit confused at start but it doesn't change fact it's not so usable metric imho.

Requests are only used when resources in K8s are being created. It's simple check up - is there enough free mem/cpu for deployment on particular node (if requests are specified)? No, move on. What about here? If there's no free capacity anywhere you

[2019-04-11 20:49] linuxshokunin commented on #13
Yeah, that's true. I don't practically need it to fix it. However, it looks bad if it's red.
Do you know what happens when you fill up a node with pods with requested cpu/memory and deploy another pod to that node with no requested cpu/memory?

[2019-04-12 07:27] frohikey commented on #13
Well, it still a good practice to set it up. Personally I always configure requests for deployments.

As one part of formula is missing, you will deploy anything without requests just fine. Well, there are still hard limits like max number of pods per node. You need to be within limits there.

Imho the best way to treat this scenario would be not ignore such pods but treat them like:
requests ram/

[2019-04-12 07:31] linuxshokunin opened #14 "Feature Request: Redeploy pods that are created by deployments/replicasets"
Hi

Just small nice-to-have feature request.

I often want to redeploy pods created by deployments when I updated configmap or secrets.
I do the folllowing
[code]

The command is just an example. If we can get a button to insert/update something similar to deployments, that would be nice.

[2019-04-12 13:52] herbrandson commented on #13
Yeah, I like that idea. I'd love a PR. Thx!

Also, another thing that I'd love to fit into this UI somehow is configured "limits". Today it's just showing the "requests", but if "limits" are also configured it would be nice to display that as well. I'm still thinking through a good way to display all of this information w/o it becoming so much data that it's hard to mentally parse what's going on.

[2019-04-12 14:01] herbrandson commented on #14
Thanks for the feedback @linuxshokunin! There are a couple of ways to possibly do this today.

First, the last item in the menu is "Apply" which might work for this. It's intended to be similar to `kubectl apply` (though I did recently realize that it's doing a PUT instead of a PATCH if the item already exists, so do be aware of that).

Second, there is an "Edit" button in the Deployments UI that

[2019-04-12 14:20] linuxshokunin commented on #14
Hi @herbrandson

1. I need to manully edit/update the yaml file  and the paste it to the bowser. It does the job I want but just one click to trigger rolling update is much simpler for me.

2. The same as first one. I need to manually edit/update yaml file.

3. I don't have many pods in dev environment yet but it will increase the number soon.

4. kubectl scale --replica=0 and then --replica=1 cau

[2019-04-12 14:26] linuxshokunin commented on #14
In addition, we don't have standalone pods but other people might want to have "redeploy" button for pods as well.
e.g.
`kubectl get po nginx -o yaml | kubectl replace -f - --force`

The similar command above would be nice if you can trigger that in dashboard, too?

What do you think?

[2019-04-12 15:20] linuxshokunin commented on #13
@herbrandson
That's good to me, too.

Personally, I would count pods without requests/limits in the chart because I could use it as measure whether to add another node or not.
Anyway, I like @frohikey approach.

[2019-04-12 19:18] linuxshokunin opened #15 "Namespace doesn't load"
Hi

I feel really bad beause I'm always asking stuff so tried to find out where to fix but I realised that I'm not qualified enough. 😓

When I click one of namespaces, namespace doesn't get loaded.

<img width="1433" alt="Screenshot 2019-04-12 at 16 28 25" src="https://user-images.githubusercontent.com/31689276/56060557-1a896900-5d5f-11e9-892d-6d1f555f0d81.png">

I get the following in k8dash logs

[2019-04-12 19:41] herbrandson commented on #15
No worries at all @linuxshokunin. I actually really appreciate all the feedback :)

This is actually a known bug. It's been fixed and will be deployed in the next couple of days. I'll update this ticket when it's released.

[2019-04-13 18:09] #5 closed

[2019-04-13 18:09] herbrandson commented on #12
@Elexy Were you able to verify that the token was valid? What can I do to help?

[2019-04-13 18:11] herbrandson commented on #15
@linuxshokunin I've pushed the updates to the `herbrandson/k8dash:dev` tag in docker hub. Will you give that a try and see if it resolves the issue? I'm hoping to move this changes to the `:latest` tag early next week.

[2019-04-15 15:19] herbrandson commented on #15
This has now been pushed to `:latest`. Closing.

[2019-04-15 15:19] #15 closed

[2019-04-15 15:58] linuxshokunin commented on #15
Hi @herbrandson

I haven't got time to test it yet but if anything comes up, I will let you know.

Thanks,

[2019-04-16 16:42] Elexy commented on #12
I tried the same setup again from scratch and now it works! Must have been a case of `fat fingers`
Thanks and awesome work!

[2019-04-16 17:02] Elexy commented on #12
When I run it through `port-forward` the token works:
[code]
 but running it through `kubectl proxy` the token auth fails.
[code]
p.s. the websockets connection seems to fail with the `port-forward`

[2019-04-16 19:22] herbrandson commented on #12
Thanks for chasing down those details. Based on this link (https://github.com/kubernetes/kubernetes/issues/38775) it seems that `kubectl proxy` strips the `Authorization` header.

From that link:

So unfortunately, it doesn't sound like it's possible to support using k8dash view `kubectl proxy`

[2019-04-18 16:48] Elexy commented on #12
@herbrandson Thanks for that.

[2019-04-18 16:48] #12 closed

[2019-04-19 16:54] menardorama opened #17 "Keycloak support"
Hi,

I'm using keycloak as an OIDC provider, does anyone succeed with k8dash ?

I still getting invalid credentials" in k8dash, but keycloak is working fine (use it for grafana and legacy kubernetes dashboard).

Just do a basic openid connect client.

Sorry for not getting more detailed, but if anyone had this issue....

Had also a look at the secret base64 encoding but it doesn't seem to be that.

[2019-04-19 20:23] herbrandson commented on #17
Sorry to hear you're having issues @menardorama. Let me see if I can help. A couple quick question:

1. How are you trying to access k8dash? We just discovered that using something like `kubectl proxy` doesn't work for k8dash because `kubectl proxy` will strip off `Authorization` headers.
2. If you try using k8dash w/o OIDC configured at all, are you able to log in using a token?

[2019-04-19 21:53] herbrandson commented on #13
I pushed an update to the `:dev` label that addresses some of the low hanging fruit here. Mostly it adds more charts to more views. What does everyone think?

Cluster Overview
<img width="1680" alt="ClusterOverview" src="https://user-images.githubusercontent.com/430142/56445473-05fb2280-62c3-11e9-85af-b4b2400d9ee7.png">

Namesapce View
<img width="1680" alt="NamesapceView" src="https://user-images

[2019-04-20 10:23] menardorama commented on #17
Hi thanks for the quick reply

We are using a reverse proxy in order to handle incoming traffic (https://traefik.io/) so no kubctl stuff here.

We are using the same sort of setup for legacy kubernetes dashboard or grafana (with generic_oauth auth mechanism).

Is there a debug option available ? I tried to set NODE_ENV variable to something else than production but it does'nt increase log verbosit

[2019-04-20 16:30] frohikey commented on #13
Personally I like it. More graph feels fine. As I'm not a big fan of Grafana, it's nice to get a graphics state of cluster fast. If it feels bad for anyone, some switch (graphs/table) or something can be added in the future.

[2019-04-20 17:47] herbrandson commented on #17
Ok. The best place to grab more detailed error info is actually in the networking tab of the browser. Would you mind grabbing the response of the failing call and posting it here?

[2019-04-23 08:45] menardorama commented on #17
Hi sure
the response is unauthorized
{
  "kind": "Status",
  "apiVersion": "v1",
  "metadata": {

  },
  "status": "Failure",
  "message": "Unauthorized",
  "reason": "Unauthorized",
  "code": 401
}

I maight be missing something, I am correctly authenticated it's working on others OIDC apps...

[2019-04-23 14:49] linuxshokunin commented on #17
@menardorama
Are you accessing a user with cluster-admin privilege?
It looks like only cluster-admin can access k8dash.

[2019-04-23 14:51] linuxshokunin commented on #13
@herbrandson It looks really good. More graph doesn't hurt me either.

[2019-04-24 01:40] herbrandson commented on #17
@menardorama

Can you confirm that Traefik isn't configured to strip Authorization headers?

Also, can you confirm which network call that above response is for (i.e. which url) and also the request and response headers?

[2019-04-25 15:35] herbrandson commented on #13
@linuxshokunin Great! I've pushed all the changes above to the `:latest` branch. There's still an outstanding issue of graphs that display "Actual vs Limits". However, I'm going to go ahead and close this ticket as the original request has been addressed I believe.

Thanks for all of your feedback on this!

[2019-04-25 15:35] #13 closed

[2019-05-01 11:49] jobace78 opened #19 "read-only account"
Hi,

I'm trying to login with a read-only account into k8dash with no success.

Steps to reproduce:

1.- create ServiceAccount

[code]

2.- create ClusterRole

[code]

3.- create ClusterRoleBinding

[code]

If I modify the ClusterRole verbs by `verbs: ["*"]` I'm able to login, and if I replace the ClusterRole definition with this ClusterRole definition _while_ I'm logged, everything works as expec

[2019-05-01 14:33] herbrandson commented on #19
@jobace78 Thanks for reporting this! I suspect you're right about the issue being the login check. Could you try logging in again using the failing use case and check the networking tab in the developer tools to verify which api call is failing? If you're correct and we can verify that it's the `selfsubjectaccessreviews` call, I think this should be fairly easy to fix.

[2019-05-01 17:38] jobace78 commented on #19
@herbrandson Yes, it's the `selfsubjectaccessreviews`  (`/apis/authorization.k8s.io/v1/selfsubjectaccessreviews`). It's returning a 201 code. Thanks !!!

[2019-05-01 18:38] herbrandson commented on #19
Just to be clear, did you mean it's returning a `201` or a `401`?

[2019-05-01 20:28] jobace78 commented on #19
Sure, `201` (Created)

[2019-05-01 21:06] herbrandson commented on #17
Hey @menardorama. I just wanted to follow up and see if you were still working on resolving this issue. I've recently pushed some updates that add a new server side environment variable named `DEBUG_VERBOSE`. If set, it will add some additional logging to failed api calls that I think might help track down the issue.

[2019-05-01 21:08] herbrandson commented on #19
Interesting. 201 should indicate a success. Any chance you could post the response body? Also, are there any other api calls that are failing? I was kinda expecting to see something with a 403

[2019-05-02 07:53] jobace78 commented on #19
Hi,

This is the header response:

[code]

This is the response:

[code]

Thanks

[2019-05-02 14:45] herbrandson commented on #19
Thanks so much for the additional @jobace78. That's really helpful. I have a suspicion about what's going on now. The `/apis/authorization.k8s.io/v1/selfsubjectaccessreviews` api call is a `POST` and the cluster role you have doesn't allow `POST` calls. Would it be possible to temporarily modify that role to allow POST's to that one endpoint? I'd like to verify that resolves the issue. If so, I th

[2019-05-02 15:00] linuxshokunin commented on #19
FYI

I tested it as well but only cluster-admin role can access POST selfsubjectaccessreviews.
My cluster is installed with kubeadm. There are 4 clusterroles, cluster-admin, admin, edit, view by default.
cluster-admin has '*' for all.
Even admin is not allowed to post selfsubjectaccessreviews.

This is what clusterrole admin is.
[code]

[2019-05-02 15:29] herbrandson commented on #19
Interesting. So I only see this section in that role for `authorization.k8s.io`...
[code]

So I guess it makes sense that `admin` would also fail. I suspect that adding `- selfsubjectaccessreviews` under `resources` would get it working for the time being.

I think I have an idea about how to resolve this so that messing w/ roles wouldn't be required. However, it's going to be at least the weekend

[2019-05-02 15:33] jobace78 commented on #19
Hi,

I've tried allowing all verbs into `nonResourceURLs` with no sucess :-(

[code]

[2019-05-02 15:55] jobace78 commented on #19
FYI

I've tried with this:

[code]

Unfortunately same error :-(

Also, there is no hurry, so even next week will be more than ok :-)

Thanks

[2019-05-02 16:12] herbrandson commented on #19
Great. Thanks for the additional info and for your patience. I'll let you know when I've made some progress.

[2019-05-09 23:25] #17 closed

[2019-05-10 08:34] menardorama commented on #17
Hi
Sorry for the looong delay

still got the same error with debug output, I hope it can help
[code]
[code]

[2019-05-10 08:36] menardorama commented on #17
And for the previous question :

I am a cluster-admin
Got an F5 Big IP in front of traefik ingress controillers

But my setup is working well on all the apps I have deployed (with saml or Oauth...)

[2019-05-10 08:51] menardorama commented on #17
OK.....issue is fixed

Wrong config in keycloak

Sorry to bother you

Seems great so far

[2019-05-10 13:32] herbrandson commented on #19
Hey @jobace78. Just wanted to give you a quick status update. I've been making some good progress. I found last evening the this role works...

[code]

...but this one doesn't...

[code]

This doesn't completely make sense to me though because neither of these include the `authorization.k8s.io` api group. I'm going to try to get some help on the "#kubernetes-security" slack channel to figure out w

[2019-05-10 14:40] herbrandson commented on #17
Hey @menardorama. Thanks for the update! Glad it's working for you now. Please do follow up as you use the app and let me know what features you'd like to see added :)

[2019-05-10 14:49] menardorama commented on #17
For sure.

From what I see access when you are not a cluster admin would be awsome

[2019-05-10 14:55] menardorama opened #20 "Left panel autohide based on clusterrolebinding"
Sorry for the description...

As an admin k8dash is great ! But for the users (once you can connect without cluster-admin role #19 )it would be great to be able to hire some of the left pane icons

For example : roles, nodes....

Maybe a sort a low rights profiles where we can define what can be seen

[2019-05-13 18:13] herbrandson commented on #20
Thanks for the feedback @menardorama. I think that once #19 is resolved, this might not be too hard to implement

[2019-05-14 09:28] jobace78 commented on #19
Hi @herbrandson, let me know if you need I test something else or whatever.

Thanks to you :-)

[2019-05-14 14:19] herbrandson commented on #19
Thanks so much for offering @jobace78. It's people like you that make working on open source awesome :)

I should have something ready for an initial test by EOD. I'll keep you posted.

[2019-05-15 02:57] herbrandson commented on #19
@jobace78 I've pushed an update that I'm hoping you can test out for me. It's available at under the "dev" label at `herbrandson/k8dash:dev`. This is only a first step, but it should at least resolve a couple of the core issues here.

**The Good:**
- The roles "cluster-admin", "admin" and "edit" should all work as expected
- The read-only role should be able to login and successfully view everythi

[2019-05-15 03:00] herbrandson commented on #20
Hey @menardorama. I just wanted to give you a quick status update. I've made some good progress on resolving #19 and have a pretty good idea how to start tackling this issue from there. More progress coming soon. Thanks for your patience :)

[2019-05-16 08:29] vaizki opened #21 "Running at a non-root URL"
We run all cluster admin tools behind an ingress controller (traefik) and mount tools under their own subpaths such as /grafana and /graylog. Currently k8dash cannot run under a subpath because it uses absolute references to /js etc.

Options to resolve:
- k8dash could use only relative URLs (might be difficult due to React routing)
- Make URL base path configurable via environment/config variable

[2019-05-17 07:56] tomasfreund opened #22 "YAML formatting not working in Firefox"
The YAML formatting seems to be broken in Firefox, it works for me in Chrome.

How to reproduce: go to some resource and click the EDIT button, everything is displayed in one line

It seems to me that this is a browser issue (Firefox ignoring newlines)

[2019-05-17 09:50] jobace78 commented on #19
@herbrandson I'm testing the `herbrandson/k8dash:dev ` release with this role:

[code]

As you said, everything is working fine :-)

Next month (I'm pretty busy right now) I'll begin to test "restricted" users (reader over one namespace and admin over other namespace for example).

I'll keep you posted. Thanks for your amazing work !!!

[2019-05-20 14:00] herbrandson commented on #21
@vaizki I've pushed an update that I'm hoping you can test out for me. It's available at under the "dev" label at `herbrandson/k8dash:dev`. I tested in one of my environments last night and everything seemed to be working as expected. If everything checks out for you, I'll push it to the master branch. Thanks for reporting the issue :)

[2019-05-21 03:55] KnicKnic opened #23 "Ensure k8dash scheduled on linux nodes"
In a mixed mode os cluster, ex windows & linux, we should ensure that k8dash is only scheduled on the linux nodes. This is due to the fact that the container image is for linux only.

[2019-05-21 13:29] herbrandson commented on #23
Thanks for the issue and the PR. It's been merged in and should be available on Docker Hub shortly :)

[2019-05-21 13:29] #23 closed

[2019-05-22 13:33] vaizki commented on #21
@herbrandson the :dev images seems to be working fine when under /k8dash and my reverse proxy is stripping away the prefix. Good work! 👍

[2019-05-28 07:08] vaizki commented on #21
Still no issues one week in, now running :dev in 3 clusters. Maybe you can push & close?

[2019-05-28 13:56] herbrandson commented on #21
I’m actually on vacation this week, but I’ll push it when I get back next week. Sorry about the delay

[2019-05-28 18:35] linecolumn opened #25 "helm chart not installing"
Plain helm install of initial k8dash is failing:

[code]
Helm is latest/stable in this time (v2.14.0).

[code]

[2019-05-30 23:14] herbrandson commented on #25
@linecolumn Thanks for submitting this issue! I'm actually on vacation this week, but will respond next week. Thanks for your patience!

[2019-06-07 12:35] herbrandson commented on #25
Hey @linecolumn. Sorry for the slow response.

Unfortunately, I don't use helm and don't have an easy way to test these charts. There was someone who was helping with that at one point, but I haven't heard from them in a while :(

The good news is, I think it's pretty obvious what is wrong in this case. I've fixed it and pushed an update. When you've got a second, would you mind testing with the l

[2019-06-07 12:35] herbrandson commented on #21
Just deployed the updates to the `:latest` branch. Thanks for your help validating these chages!

[2019-06-07 12:35] #21 closed

[2019-06-07 22:31] linecolumn commented on #25
Unfotunately, now there is another error:

$ helm install k8dash/
Error: validation failed: error validating "": error validating data:
ValidationError(Deployment.spec.template.spec.containers[0]): unknown field
"pullPolicy" in io.k8s.api.core.v1.Container

On Fri, Jun 7, 2019 at 2:35 PM Eric Herbrandson <notifications@github.com>
wrote:

[2019-06-08 18:25] herbrandson commented on #25
@linecolumn Thanks you so much for your help testing this! I just pushed another update to the `:dev` label in Docker Hub. Would you mind giving it a try when you've got a second?

[2019-06-08 21:05] linecolumn commented on #25
Hi,

Now there is no errors, and it gets deployed.

$ helm  install k8dash/
NAME:   ordered-magpie
LAST DEPLOYED: Sat Jun  8 23:04:01 2019
NAMESPACE: default
STATUS: DEPLOYED

RESOURCES:
==> v1/Pod(related)
NAME                     READY  STATUS             RESTARTS  AGE
k8dash-66c6657dc7-6tbd7  0/1    ContainerCreating  0         1s

==> v1/Service
NAME    TYPE       CLUSTER-IP     EXTERNAL-IP  P

[2019-06-08 23:24] herbrandson commented on #25
That great news! Is everything in working order now or is there anything else I can help with?

[2019-06-09 07:38] linecolumn commented on #25
Yes -- k8dash helm is working. Great job!

On Sun, Jun 9, 2019 at 1:24 AM Eric Herbrandson <notifications@github.com>
wrote:

[2019-06-09 19:50] #25 closed

[2019-06-13 02:57] botzill opened #26 "Logs are repeated"
I noticed that when we open pod logs page some times it will show the same logs multiple times. Do you know about this issue?

[2019-06-13 03:17] botzill opened #27 "Add link to proper resource in Cluster Overview"
Hi.

Would be nice to have link to resources here:

<img width="1100" alt="Screen Shot 2019-06-13 at 06 16 07" src="https://user-images.githubusercontent.com/4686040/59401262-cd4b6700-8da2-11e9-845d-a904799ae568.png">

So, when you click on specific resource to enter it and see more details directly.

Thx!

[2019-06-13 07:58] botzill opened #28 "Support unicodes in logs view"
<img width="484" alt="Screen Shot 2019-06-13 at 10 57 29" src="https://user-images.githubusercontent.com/4686040/59414428-2aa6de80-8dca-11e9-9d37-61a12be04f11.png">

[2019-06-13 21:07] herbrandson commented on #27
Thanks for the feature request! This was a pretty straight forward one. I just implemented it and pushed it to the `dev` branch. Would you mind grabbing the `:dev` label from docker hub and giving it a quick test? If everything looks ok, I'll push it to master sometime this weekend.

[2019-06-14 10:14] botzill commented on #27
thx @herbrandson, works great for now!

[2019-06-14 12:47] herbrandson commented on #27
Good to hear :)

Just to clarify, when you say "works great for now", is there something that could make it even more useful?

[2019-06-14 13:04] botzill commented on #27
I mean it works from the tests I did so far, so this is exactly what I was
looking for, for now I don't see any improvements here.

Thx!

On Fri, 14 Jun 2019 at 15:47, Eric Herbrandson <notifications@github.com>
wrote:

--
Chirica Gheorghe,
Co-Founder - https://www.crawless.com

[2019-06-14 14:14] herbrandson commented on #26
Thanks for reporting this @botzill. I made some progress on this last evening and found the root issue. Hopefully a fix will be coming in the next couple of days.

[2019-06-15 03:49] botzill commented on #28
As well colored output, can we as well support that?

[2019-06-17 16:36] herbrandson commented on #27
This has been released to the `:latest` tag in docker hub. Thanks for the feature request :)

[2019-06-17 16:36] #27 closed

[2019-06-17 16:42] herbrandson commented on #28
I did some research and it looks like unicode characters should be pretty easy to implement. I still need to look into supporting colors. With any luck, there's already an NPM package that will handle this :)

[2019-06-17 18:35] thpang opened #29 "istio crd issues"
Found that once the Istio mesh has been installed crd's keep reporting in k8s as being an issue, when in reality they have completed.

<img width="710" alt="istio-crd-issue" src="https://user-images.githubusercontent.com/32514746/59627803-1a199f80-910d-11e9-923f-cdd9cbf269db.png">

[2019-06-17 19:51] herbrandson commented on #29
Thanks for reporting this @thpang. That is driven by checking if the `status.phase` is "Running". If you click on one of those pods, what is the value for "Phase"?

[2019-06-17 20:42] tsjnsn opened #30 "Support passing bearer token in header"
Without logging in via the UI, if I pass a Bearer token with a request it redirects to the token login screen. It would be nice if it could recognize I already have a token and use that without needing to go through the browser login flow

[2019-06-18 02:59] herbrandson commented on #30
Thanks for the request @tsjnsn. I have some ideas about how to implement this, but want to make sure I understand you correctly first. Could you explain a bit more about your use case?

[2019-06-18 13:40] herbrandson commented on #28
Hey @botzill. I've fixed the issue with unicode characters and did some initial work on ansi colors. I pushed the changes to the `:dev` label in docker hub. Do you have a moment to test it out and see how it looks for you?

[2019-06-18 13:43] herbrandson commented on #26
Hey @botzill. I also did some work on this one. There are still some cases where it's less than ideal, but it shouldn't duplicate the logs any more. This is also in the changes that I pushed to the `:dev` label. Would you mind seeing if it resolves your issue? I'd like to push these changes to `master` later this week if everything checks out.

Thanks again for your help in making k8dash better :)

[2019-06-18 13:53] tsjnsn commented on #30
Basically I want to do the authentication at a different layer. My case is
I have a proxy in front of k8dash that handles authentication (not OIDC
based), and it would add the authorization header after that for all
requests to k8dash.

On Mon, Jun 17, 2019 at 9:59 PM Eric Herbrandson <notifications@github.com>
wrote:

[2019-06-18 14:14] herbrandson commented on #30
Gotcha. One more quick question. If there were already a token set in the browser and a new request came in w/ a different token, it sounds like you'd want the new token to overwrite the existing one, correct?

[2019-06-18 15:05] botzill commented on #28
Thx @herbrandson, will check unicodes soon.

[2019-06-18 15:05] botzill commented on #28
<img width="260" alt="Screen Shot 2019-06-18 at 18 03 15" src="https://user-images.githubusercontent.com/4686040/59695893-a7cfba80-91f3-11e9-97e9-465e690dbee4.png">

Logs colored seems ok.

[2019-06-18 15:06] botzill commented on #26
Will check duplicate logs, for now seems to work ok.

[2019-06-18 16:25] herbrandson commented on #28
Fantastic. How about the emojis?

[2019-06-18 21:20] varuzam opened #31 "Invalid credentials with a token when use kubectl proxy"
Hello.
How to reproduce:
run `kubectl proxy`
go to 'http://localhost:8001/api/v1/namespaces/kube-system/services/http:k8dash:/proxy/' in a browser and try to log in
k8dash's logs:
[code]
apiserver's logs
[code]

[2019-06-19 00:35] thpang commented on #29
@herbrandson

Status phase for both is: Completed
Ready for both is listed as: 0/1

Let me know if you need more info.

[2019-06-19 13:34] herbrandson commented on #31
Yeah, someone else ran into this before as well. Based on this link (kubernetes/kubernetes#38775) it seems that kubectl proxy strips the Authorization header.

From that link:

So unfortunately, it doesn't sound like it's possible to support using k8dash view kubectl proxy. I'll update the README to indicate as much.

Sorry for the confusion :(

[2019-06-19 13:44] herbrandson commented on #26
Thanks for the update. I've deployed these changes to the master branch (and the `:latest` docker hub tag). Please let me know if you run into any further issues.

[2019-06-19 13:44] #26 closed

[2019-06-19 15:24] herbrandson commented on #29
Ok, I see. It looks like those are some sort of "init" process that runs and then completes. I assume they're a "Job" then?

I think that "Completed" tasks probably need a different icon. Maybe a "grey" color. What do you think?

[2019-06-20 01:23] thpang commented on #29
I know in the Weave Scope application they do show them a bit differently. So grey would be good to show they have completed, but not really hurting anything in the cluster.

[2019-06-21 19:42] #31 closed

[2019-06-21 19:43] #28 closed

[2019-06-22 20:03] herbrandson commented on #29
Hey @thpang. I've pushed an update to the `:dev` label in docker hub. Would you mind giving that a test and letting me know how it looks to you? Thanks!

[2019-06-22 22:09] herbrandson commented on #30
Hey @tsjnsn. I've just pushed an update to the `:dev` docker label which should resolve this issue. Would you mind testing and verifying that it works for your use case?

[2019-06-23 04:10] herbrandson commented on #20
Hey @menardorama. Sorry it's taken a while, but I've just pushed an update to the `:dev` docker tag that resolves this issue. Would you mind giving it a try and letting me know what you think?

[2019-06-26 01:29] thpang commented on #29
So I did not test from docker hub, but tested from the dev branch in the repo. Was that updated? I did not notice any change.

[2019-06-26 13:46] herbrandson commented on #29
It should be. You can verify by opening `client/src/components/podsPanel.js`. The should be a function named `getPhaseStyle`. If that's there, you should have the latest.

[2019-06-26 17:46] tsjnsn commented on #30
It doesn't seem to be working for me. For testing, I'm using Requestly to set the Authorization header to my Bearer token, then navigating to the site. it's still prompting me for an authorization token though

[2019-06-26 17:51] tsjnsn commented on #30
I'm not sure, but I think I would expect the browser's token to take precedence.

[2019-06-27 16:25] herbrandson commented on #30
Sorry about that. I'm not sure what's going on there. Can you attache the server logs for that request?

[2019-07-02 15:02] herbrandson commented on #30
Hey @tsjnsn. I just wanted to follow up quick. Were you able to make any progress on this?

[2019-07-02 15:04] herbrandson commented on #29
Hey @thpang. Were you ever able to verify the code you have includes that function? Is this still not working for you?

[2019-07-02 17:07] thpang commented on #29
Eric,

I have not sorry. Busy pushing out a release. I should be able to verify in a day or two or sometime over the 4th of July weekend.

Thanks for checking back in.

Take care,

Thomas

From: Eric Herbrandson <notifications@github.com>
Reply-To: herbrandson/k8dash <reply@reply.github.com>
Date: Tuesday, July 2, 2019 at 11:04 AM
To: herbrandson/k8dash <k8dash@noreply.github.com>
Cc: Thomas Pangb

[2019-07-03 09:26] ryanelian opened #32 "Feature Request: Apply Manifests in Git Repository"
This is a feature request to make K8Dash significantly more powerful than Kubernetes official dashboard.

1. K8Dash should accept a environment variables required for reading Git Repository.

For example:
[code]

2. K8Dash should have a UI and a Log Window with a simple button: "Sync"

3. K8Dash should pull all files in the Git repository using library like https://github.com/isomorphic-git/isomor

[2019-07-03 22:53] vaizki commented on #32
Have you looked at Flux?
https://github.com/weaveworks/flux

It is quite a powerful tool for syncing cluster resources from git and maybe instead of replicating the functionality it would be good to have a k8dash "plugin" to trigger a sync (release)?

[2019-07-04 06:58] ryanelian commented on #32
Yeah sure. I just implemented flux. Good enough for my uses.

If K8Dash can manually trigger sync it'll be dope.

[2019-07-06 21:15] herbrandson commented on #32
@ryanelian Thanks for the feature request! It's a really cool idea. And thanks @vaizki for the Flux mention. I hadn't seen that project yet. Looks awesome!

@ryanelian Can you explain a bit more about what you mean by "If K8Dash can manually trigger sync"? From my reading of the flux README, it sounds like Flux already takes care of keeping your cluster in sync with your git repo. Is there current

[2019-07-06 21:17] herbrandson commented on #20
This has now been deployed to the `master` branch and the `:latest` docker tag :)

[2019-07-06 21:17] #20 closed

[2019-07-06 21:18] herbrandson commented on #30
@tsjnsn This was working in my tests. I'm closing for now, but please reopen if I can help track down your issue. Thx!

[2019-07-06 21:18] #30 closed

[2019-07-07 00:06] ryanelian commented on #32
There is:

fluxctl sync

Sent from my iPhone

[2019-07-10 14:50] herbrandson commented on #32
After thinking about this a fair bit, I think it would be better to make this a feature request in the Flux project. I like the idea a lot, but I don't think it fits into the scope of k8dash. Thanks for understanding :)

[2019-07-10 14:50] #32 closed

[2019-07-10 18:28] djsly commented on #30
Hello, the latest release is broken, when you don't have a token, the logout function loops with the login function.

We have to revert back to the version of 21days ago to have the k8dash to work again.

[2019-07-10 18:57] djsly opened #34 "Create fixed tags to prevent breaking external users"
We are using the `master` tag and with the latest update from 4 days ago, this broke our k8Dash instance and users were brought in a infinite loop of login/logout.

We have opened the following PR: https://github.com/herbrandson/k8dash/pull/33 which we compiled and are using the local image for now. We would like to move back to the public images while enforcing us to use a Fixed TAG version: (e.g

[2019-07-10 19:11] herbrandson commented on #34
Yes, this seems like a must have. I will work on getting this supported. I apologize for the issue this has created for you. Thanks for your patience while I work to resole the issue.

[2019-07-10 19:15] djsly commented on #34
Thanks!  No hard feeling :) we just spent half a day bagging our head as to way this worked last Friday

[2019-07-10 20:19] herbrandson commented on #34
It looks like PR #33 has made it do docker hub on the `master` tag. Can you confirm that it has resolved the issue with the login/log out loop?

[2019-07-10 20:44] titilambert commented on #34
@herbrandson I confirm, it's fixed !

[2019-07-19 20:25] herbrandson commented on #29
Thanks for the update @thpang. Yes, please let me know where you're seeing the issue and I'll take a look.

[2019-08-16 20:12] lmcarreiro opened #35 "Auth error when the token are too large"
Here we are having some auth issues, when the auth token is too large because of the groups list in the JWT. It is common in our network a user that are a member of a lot of LDAP groups.

![image](https://user-images.githubusercontent.com/13019179/63194749-32dbfe00-c047-11e9-8f8d-e0145ac81fcb.png)

In these requests, that last successful one was the `oidc` that returned the token in the response b

[2019-08-21 22:08] herbrandson commented on #35
Hey @lmcarreiro! So sorry for the slow response.

Can you tell me how large (in bytes or kb) the token is? Also, is there any more information in the response body of those failed requests. Also, are there any logs in the k8dash pod related to these requests?

Currently, the token must be passed in the Authorization header. The backend k8dash server simply proxies the requests to the k8s api serve

[2019-09-08 07:13] z-aslani opened #36 "Issue while using a token which is defined for a service account in a specific namespace"
I've defined a service account and it has full access in its own namespace.
When I use its token to login in K8Dash, I see nothing! While I have to see pods, deploys, etc in its own namespace.
would you please help me with this issue?
Thanks in advance.

[2019-09-10 23:17] samsieber opened #37 "Feature Request: Show Job Duration"
Right now the details page for individual jobs show the start date, age and end date. I'd love it if it could show duration as well.

[2019-09-17 12:18] reinoud opened #38 "Feature Request: make color configurable"
Would it be possible to make the main color of the webinterface configurable somewhere in the deployment?

Use-case: when running multiple instances of k8dash in test and production environments, I would like to make the differences between the environments visually very clear

[2019-09-24 16:35] JrCs opened #39 "Probleme using OIDC authentification"
Hi when i try to use my oidc (keycloak) with k8dash it doesn't work.
In the pod logs i have:
[code]

and in the browser network tab for the path:
 `/apis/authorization.k8s.io/v1/selfsubjectrulesreviews` i have the response:
[code]

I don't understand why k8dash use the system:anonymous account.

I use k8s version 1.15.4

[2019-10-02 11:53] Weidenbachm commented on #36
+1

[2019-10-08 08:23] Weidenbachm commented on #36
@z-aslani I found a solution. Additionally to the rights in its own namespace you need to grant your service account the right to view the namespaces clusterwide. Then you can access the pods in its own namespace via the dashboard "namespaces" or "workloads" (where you have to select the own namespace in the drop down menu).

[code]

[2019-10-24 21:53] kvpt opened #40 "Invalid sort in workload page"
The sort of the age column doesn't seem to take into account the unit.
![image](https://user-images.githubusercontent.com/1446221/67528224-3a5bfb00-f6b9-11e9-9a31-9be18aa2af7f.png)

[2019-10-24 22:03] kvpt commented on #40
Also the age seems wrong to me.
![image](https://user-images.githubusercontent.com/1446221/67528824-b4d94a80-f6ba-11e9-9e03-42d16e5a0345.png)
![image](https://user-images.githubusercontent.com/1446221/67528839-c1f63980-f6ba-11e9-9e74-b51e939d15da.png)

If you need more informations to reproduce the issue, let me know.

[2019-10-30 20:55] herbrandson commented on #40
Hey @kvpt. I'm using an npm package for converting the date into "age" and unfortunately the letter "m" for both minutes and months :(

Does that explain what you're seeing?

[2019-10-30 20:59] kvpt commented on #40
Oh yes you're right, the second screenshot show that.

[2019-10-31 10:00] zhixiangjoy commented on #39
I guess you didn't do rbac for you serviceaccount that you use to login. please forgive my poor english.

[2019-11-01 14:57] panyingyun opened #41 "Can not see any log of pod online"
![企业微信截图_157262008622](https://user-images.githubusercontent.com/5029318/68033619-060cbe00-fcfb-11e9-8ceb-24736b434cdb.png)

logs of pod k8dash like:
`[HPM] GET /api/v1/namespaces/production/pods/ipquery-v1-867579b494-5nrjs/log?container=ipquery-k8s&previous=false&tailLines=1000&follow=true -> https://10.96.0.1:443
GET /api/v1/namespaces/production/pods/ipquery-v1-867579b494-5nrjs/log?container=ip

[2019-11-01 15:01] panyingyun commented on #41
Is there anybody  who encounted same question

[2019-11-02 03:24] kmdhali opened #42 "the UI does not show data after login"
The  dashboard UI does not show any data after login. Sometime it just hangs/stucks after pressing login button with the secrete token .
We have installed the NodePort version of the k8dash (kubernetes-k8dash-nodeport.yaml).
Please check and assists at earliest .

OS : Ubuntu 16.04.5 LTS
======================================

root@ubuntu03: kubectl get svc k8dash -n kube-system
NAME     TYPE

[2019-11-02 04:31] kmdhali commented on #41
I also have a similar issue , I get to a point where the dials are shown but no actual data . does it have anything to do with metric server ?

[2019-11-05 16:44] herbrandson commented on #30
@zhixiangjoy This issue was resolved some time ago. Can you verify you're on the latest version?

[2019-11-13 15:08] panyingyun commented on #41
I have move to use new tool for k8s,  https://github.com/Qihoo360/wayne

[2019-11-13 15:08] #41 closed

[2019-11-21 01:47] brandon-dacrib opened #43 "arm builds"
Would it be possible to publish arm builds for k8dash. Right now the image is x86 only and I want to use it on my raspberry pi 4 cluster. I know how to do this manually and would be willing to investigate how to automate it. https://engineering.docker.com/2019/04/multi-arch-images/

[2019-11-21 22:16] kimdiallo commented on #43
I've had some trouble with node-sass, but for the moment it works well on my Pi 3 cluster.

https://hub.docker.com/r/kimdiallo/rpi_k8dash

But arm builds directly from here would be very welcome.

[2019-12-06 11:10] ragkota opened #44 "Node CPU Use in the Dashboard not working"
Hi,
I have used k8dash to create dashboard. Everything seems to work fine, except that Node CPU use and Node RAM use under Nodes tab is not working. Any ideas what could be missing?
Please see below relevant information. Thanks,
Raghu

ubuntu2:~$ kubectl get pods -A -o wide | grep metrics-server
kube-system     metrics-server-67db467b7b-89b6g                                   1/1     Running   0

[2019-12-10 15:16] dennismeissel commented on #44
The same issue. I'm running kubernetes by docker-desktop on windows.

[2019-12-11 09:19] dennismeissel commented on #44
I'm facing the same issue with cluster running with docker-desktop on windows.
If I go into the concrete node I see this:
![image](https://user-images.githubusercontent.com/19518525/70607997-b7a6e500-1bff-11ea-8e95-db151709ac03.png)

[2019-12-11 15:02] herbrandson commented on #44
Would you mind checking the networking tab in your browsers developer tools and see if there's any more info there that might help track down what's going on here?

[2019-12-12 01:58] ragkota commented on #44
I resolved this using below patch

https://github.com/kubernetes-sigs/metrics-server/issues/143 for metrics-server

[2019-12-12 04:33] ragkota opened #45 "Create and Deploy Missing"
I have not tried the actual kubernetes dashboard, but looks like we can deploy and create Pods from dashboard. Is this feature missing here? If so, any plans to add it?

Thanks,
Raghu

https://kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/#deploying-containerized-applications

Dashboard lets you create and deploy a containerized application as a Deployment and optional Servi

[2019-12-12 10:52] dennismeissel commented on #44
/apis/metrics.k8s.io/v1beta1/nodes/{node_name} or /apis/metrics.k8s.io/v1beta1/namespaces/docker/pods/{pod_name} return 404 not found.

But /apis/metrics.k8s.io/v1beta1/nodes or /apis/metrics.k8s.io/v1beta1/pods without specifying concrete resource are 200 OK.

[2019-12-12 14:17] herbrandson commented on #45
Hey @ragkota. On the left hand menu there is an "Apply" button. This will let you submit any yaml to modify your cluster in any way. This includes managing Pods. Is that what you're looking for?

[2019-12-12 14:19] herbrandson commented on #44
Thanks for the update @ragkota

@dennismeissel Sounds like maybe you're experiencing the same issue?

[2019-12-13 08:22] dennismeissel commented on #44
It helped me also.
Thanks both of you!

[2019-12-13 14:34] #44 closed

[2019-12-14 09:58] olivergg commented on #40
@herbrandson this library has not been updated for years now. I kinda guess you've switched from Moment.js to it for performance reason. Would you like to have a PR with another lib in k8dash or a PR in the time-ago project to merely fix the specific use case (milliseconds vs minutes vs month, all represented by 'm') ?
Btw, thanks for this amazing project k8dash ;)

[2019-12-14 16:49] herbrandson commented on #40
I suspect the easiest route would be a pr in k8dash (which I would love!). Is there a specific library you're considering?

[2019-12-15 09:35] olivergg commented on #40
@herbrandson what about `humanize-duration` ?

[code]

[2019-12-16 01:43] herbrandson commented on #40
LGTM. Do you want to create a PR?

[2019-12-16 04:59] olivergg commented on #40
@herbrandson  Yes, I'll do that this week :-)

[2019-12-16 18:40] olivergg commented on #40
Done #46

[2019-12-25 21:04] paullryan opened #47 "Make token/password field fillable"
As the field for the token is a password type field it should be fillable using the attribute autocomplete="password" this allows managers like 1pass or lastpass to keep hold of these keys and is much more secure than passing it around the traditional way.

[2019-12-26 08:21] botzill opened #49 "Add logs for init_containers"
Currently init containers does not have logs and would be nice to have them.

[2020-01-02 00:10] EhsanMirzaei opened #50 "support ISTIO CRD"
Hi,

The dashboard looks great but I'm just wondering if there is a plan to add CRD to the dashboard , especially I'm looking for Istio support. ATM thats a big gap for this dashboard

[2020-01-03 19:04] #47 closed

[2020-01-03 19:07] #29 closed

[2020-01-03 19:07] #35 closed

[2020-01-03 19:09] herbrandson commented on #40
Thanks for the PR! It's been merged and this should now be resolved :)

[2020-01-03 19:09] #40 closed

[2020-01-03 19:10] herbrandson commented on #43
Thanks for the leg work @kimdiallo. Any chance you'd like to provide a PR?

[2020-01-03 19:10] #45 closed

[2020-01-03 19:11] herbrandson commented on #49
@botzill I'm not sure I understand. Could you provide more details about what you're looking for?

[2020-01-03 19:12] herbrandson commented on #50
Thanks for the question. At the moment CRD's are not supported. What sort of data would you like to see for Istio?

[2020-01-03 19:35] olivergg opened #52 "Display url link in object metadata value"
The same way it is done in the Kubernetes dashboard (see https://github.com/kubernetes/dashboard/blob/ac31fc56afac27a7ff2f1bc17f050f7403acd844/src/app/frontend/common/components/chips/template.html#L30), we could implement this in k8dash (but in a more efficient way :wink: ).
This can come handy when dealing with annotations that contains URLs.

@herbrandson  What do you think ?

[2020-01-03 20:54] herbrandson commented on #52
I like that, and it looks pretty straight forward. Did you want to take a crack at it?

[2020-01-04 09:08] botzill commented on #49
HI.

We can have container logs and we can have init containers log. Current k8s dashboard show it like this:

<img width="387" alt="Screen Shot 2020-01-04 at 11 07 51" src="https://user-images.githubusercontent.com/4686040/71763257-81991000-2ee2-11ea-87df-e29c629a0a5b.png">

Same way wold be nice to have it here.

[2020-01-04 16:32] olivergg commented on #52
@herbrandson  Yes :wink:  I'll open up a PR

[2020-01-04 19:36] olivergg commented on #52
@herbrandson  here is the draft PR : #53

[2020-01-05 09:04] olivergg commented on #37
Would something like that :
![screenshot1](https://user-images.githubusercontent.com/8093035/71777601-81604980-2fa2-11ea-95cc-7821456644af.png)
be enough ?

[2020-01-05 09:12] olivergg commented on #37
Here is the draft PR : #54

[2020-01-05 23:16] EhsanMirzaei commented on #50
most common objects in K8s from istio like Virtual Service, destination rules and Gateways,

[2020-01-05 23:52] dcherniv opened #55 "Authenticating with the service account"
Great application.

A feature request:
If the pod is run with the service account, the frontend should not prompt for api token.
I tried starting it with the following spec:
[code]
Where serviceAccountName refers to the service account with cluster-admin permissions, but the login still prompts for the token. I can't easily use OIDC on EKS and i don't want to expose the token to users. It would re

[2020-01-06 16:13] herbrandson commented on #55
I just want to make sure I understand. The request is that if k8dash is running with a serviceAccount, that it just use that account for all api requests and not require the user to login? Is that correct?

[2020-01-07 21:11] danielsatanik commented on #43
@kimdiallo I was just able to deploy your rpi version, unfortunately when I expose it with an Ingress it asks for Basic Auth. Did you set up some kind of standard user-name or password? Can this be disabled for login with a token?

<img width="621" alt="image" src="https://user-images.githubusercontent.com/2507586/71929772-a3bcb780-319a-11ea-9400-967b0c2b423f.png">

[2020-01-08 10:34] kimdiallo commented on #43
@danielsatanik I don't think that depends on the build. Try to follow these instructions[1] and start the pod again.

[1]https://github.com/herbrandson/k8dash#service-account-token

[2020-01-08 10:43] kimdiallo commented on #43
@herbrandson Sorry, i have never noticed your request. So far, unfortunately, this has been very makeshift and built directly on a real Pi. I think with a dockerfile for a reasonable cross build would be the better option. If there is no great hurry, I would be happy to help.

[2020-01-08 16:04] spali commented on #55
Not the same usecase, because I don't use a service account. But may still the same problem.
I use a ingress proxy which does the whole oidc authentication and injects the `Authorization` header with the `Bearer` which can authenticate against the api server. The same works for all other services I have including the kubernetes-dashboard.
But k8dash asks still for the token even it logs `Authoriza

[2020-01-08 18:40] danielsatanik commented on #43
@kimdiallo I followed the instructions but unfortunately it still asks for authentication. Something else you can think of?

[2020-01-09 13:39] kimdiallo commented on #43
@danielsatanik The only difference that comes to my mind is, that i run this as a NodePort, not with ingress...

[2020-01-10 11:00] Nurlan199206 opened #56 "FeatureRequest: add download button for logs"
Pls you can add download button for logs. If possible follow stream too.

![image](https://user-images.githubusercontent.com/22808731/72148301-a140a480-33ca-11ea-85fa-c2114c1f6dc7.png)

[2020-01-10 11:19] Nurlan199206 commented on #56
For example OpenShift logs:

![image](https://user-images.githubusercontent.com/22808731/72149440-58d6b600-33cd-11ea-97e6-4eb777dd3a6b.png)

[2020-01-12 16:54] herbrandson commented on #43
There's no hurry, so that would be great if you can!

[2020-01-14 10:29] lukjaw opened #57 "Feature Request: Add support for Replication Controllers in Workloads view"
Hi, great job on the dashboard, its much lighter and faster than the standard k8s dashboard :)

But i am wondering if its possible to add support for viewing and managing Replication Controller type of resource, now when i click on `Owned by` link and if its `replicationcontroller/default/...` i get PAGE NOT FOUND

Looking forward for an answer.
Keep up the great job :)

[2020-01-15 00:03] EhsanMirzaei opened #58 "anonymous user"
Hi,

I just wondering if we can have anonymous user  to login to the dashboard without using token,
At the moment we us key-cloak out side the cluster to authenticate the read-only user but then after authentication we need to use the token again which it make it ugly.
is it possible to have the  anonymous mode ?

[2020-01-15 15:46] mowings opened #59 "Feature Request: Show ready/not ready, node type via node icons"
First great job on the dashboard -- seems a lot more lightweight and less buggy than the standard dashboard.  We have a couple of minor UI requests:

On the nodes page it would be nice if unready nodes showed up by default on top, and maybe with a red icon, instead of the text 'READY' column. Even without the icon change, it would be good to float unready nodes to the top by default (we run on bar

[2020-01-15 16:35] olivergg commented on #59
1. One could change the READY column to display some kind of a checkmark (instead of just rendering the boolean value) (would need an icon for that)
2. I would change the icon in the type column to symbolize the fact that it is a master, but not the READY column which should just display the status, not the nature of the node :wink:
@herbrandson  I'm willing to do that if it's okay for you ;)

[2020-01-17 18:47] danielsatanik commented on #43
@kimdiallo I tried nodeport as well and the same happens. I couldn't build it with the official Dockerfile myself, so I was wondering if you used a custom one, adapted by yourself for arm, could you share it with me? I don't want to imply anything, but maybe you set some ENV variable or something that enables authentication, could that have happened? are you using it with authentication or did it

[2020-01-18 10:16] olivergg commented on #59
What about :
![screenshot2](https://user-images.githubusercontent.com/8093035/72662148-eb85df00-39e3-11ea-91e3-42d4301ce0c6.png)

[2020-01-18 15:35] herbrandson commented on #59
@olivergg really like this :)

I do believe there are actually 3 states here. Ready, Not Ready, and Unknown. Where "Not Ready" means the k8s can communicate with the server, but it's not ready yet. And "Unknown" means the server is unreachable.

Also, I think it might look a little nicer if the icons were centered horizontally. What do you think?

@mowings Currently, you can sort by the "Ready" co

[2020-01-18 16:02] olivergg commented on #59
@herbrandson Yes, you're right, I thought the "Ready" state was a boolean.... I should have read the documentation https://kubernetes.io/docs/concepts/architecture/nodes/#condition :see_no_evil:
I'm not a CSS expert, but I'll try do to my best :sweat_smile:

As for the sorts, one could sort by default by the "Ready" column **and then** by the "Name" column. Therefore, if all nodes are ready, it's

[2020-01-25 17:23] olivergg commented on #59
@mowings I would need more time to understand how the sort works (and to properly implement it in an  idiomatic way), but for now, the #60 PR makes the things a little bit prettier;)

[2020-01-27 09:30] infrabyte opened #61 "No logs in dashboard"
Hi. I cant seem to get any logs on the pods. As a matter of fact there are no logs for anything. I am running k8dash as described in the README and all went well with no issues returned. My only issue is logs missing or just seems to be a dead feature for now. My developers rely heavily on logs to trace the issues in a pod. Please help.
Kind Regards
Darrell

[2020-01-27 09:32] infrabyte commented on #61
![Screenshot from 2020-01-27 11-27-43](https://user-images.githubusercontent.com/11523032/73163446-b458b180-40f8-11ea-80b3-adf843a47f1d.png)

[2020-01-28 14:34] mowings commented on #59
Thanks @olivergg -- I will have a look when I get a chance!

[2020-01-28 18:08] mowings commented on #59
Just to add an additional note, at least for us it's probably more important that unready or unknown status nodes float to the top. Sorting by master or worker node is not really that big a deal -- at least to us

[2020-01-28 18:33] mowings commented on #59
Just built and deployed with @olivergg  s pr. Definitely a big improvement. If the sort could float unready nodes to the top it would be perfect. Thanks again for your work!

[2020-01-29 14:53] mowings commented on #59
@olivergg

Actually, it looks like the PR causes breaks the namespace pane. When navigating to the namespace pane, I get an error message. While there are no api errors, the javascript console shows:

[code]

The code in question is:

[code]
This seems to be broken on the namespace pane. I am guessing this is because namespaces (or at least mine) don't have any labels.

[2020-01-29 16:19] mowings commented on #59
I left a comment in the PR with the fix -- you do need to check that labels actually exists, Thanxs!

[2020-01-30 15:55] herbrandson commented on #61
Hey @infrabyte. I'm so sorry you're having this issue. I haven't heard of anyone running into this before. Would you mind taking at the networking tab in the developer tools and see if there are any errors with the api calls?

[2020-01-30 15:59] herbrandson commented on #59
Yikes! I missed this comment before merging that PR :(

@olivergg I ran into similar issues in various other places and as a result had started using lodash functions instead of things like `Object.entries` because it deals with null/undefined values.

@mowings I saw you had another PR. Was it the patch for this issue?

[2020-01-31 05:11] olivergg commented on #59
@herbrandson  thanks, I'll have a look at lodash. Meanwhile, https://github.com/herbrandson/k8dash/pull/60/commits/f2ee67461de0ecdf30c7ca19a0101b1b8f144d33 *was* the actual fix for this missing check. Regarding the other PR,  I guess, an interractive rebase should be necessary from @mowings :wink:

[2020-01-31 23:00] mowings commented on #59
@herbrandson -- I closed out that PR and submitted a clean one  just to fix the ApiVersion issue.

My master has diverged a bit from yours -- so I resubmitted from a clean brqnch. Should be good to go.

[2020-02-02 07:11] olivergg commented on #59
@herbrandson  I've added a fix to my branch https://github.com/herbrandson/k8dash/commit/8de135d30b987e08ef11419a550140543264fe1c to use lodash function `._has`

[2020-02-06 11:58] thiscantbeserious commented on #43
Just in case I'm already on it since I'm dying for a good dashboard for my Cluster to get started with my little cross amd64/armhf/arm64 cluster that I've setup with k3sup.

I'm using Docker 19.03 with buildx as outlined here: https://mirailabs.io/blog/multiarch-docker-with-buildx/

I'm also throwing out node-sass (js wrapper ontop of c++ code that needs to compiled for each target platform) repla

[2020-02-06 12:12] AndrewBoklashko opened #66 "Cannot exec into windows pod"
[code]

Must use `powershell` to exec into windows container.
https://github.com/herbrandson/k8dash/blob/57da03ca1e89a5befaca5853ac128eb13693f6f8/client/src/services/api.js#L141

[2020-02-06 15:32] mowings commented on #59
Hey guys -- I am going to close this issue out and create another one just for the sorting unready masters to the top part.

[2020-02-06 15:32] #59 closed

[2020-02-06 15:36] mowings opened #67 "Add ability to sort unready nodes to the top of the node list"
Refined issue from https://github.com/herbrandson/k8dash/issues/59.  On the node list, it would be good to have unready nodes (not ready or unknown) to float to the top of the display.

For most users, this is probably the most important thing to see in a node list. In particular, we run on bare metal, so dead nodes are a big deal. Even with alerting, this seems like a sensible default.

[2020-02-07 01:40] herbrandson commented on #59
Perfect. Thanks @mowings

[2020-02-07 01:44] herbrandson commented on #43
Thanks @thiscantbeserious! Super excited to see how it goes :)

[2020-02-07 09:12] thiscantbeserious commented on #43
well, just to keep you updated:

https://github.com/ayufan-rock64/linux-build/blob/master/recipes/binfmt-misc.md

Make sure you're using a kernel above 4.8 if you're going for the binfmt_misc route - otherwise you won't be able to run (a good way to verify if binfmt_misc is actually working or not):

`docker run --rm -it arm64v8/busybox echo Hello World`

[2020-02-11 08:23] botzill opened #69 "Show taints when we access a node"
Currently we don't see taints when we access the node, would be great to have them listed as well.

Thx.

[2020-02-12 11:18] thiscantbeserious commented on #43
There you go I successfully published an multiarch-image for armv6, armv7, arm64 and amd64. I didn't test it yet tought. Do you want me to create a simple shellscript for the build?

https://hub.docker.com/r/youcantbeserious/multiarch-k8dash/tags

[2020-02-17 02:39] thiscantbeserious commented on #43
So I'm close to finalizing my adjustments, after some trendemous cross-platform testing and walzing trough the docs.

I added a Travis config, which will build automatically for each commit and tag it with the revision and latest tag, pushes both to Docker Hub automatically and in the end also does a Vulnerability-Check with [trivy](https://github.com/aquasecurity/trivy).

Trivy also scans the bas

[2020-02-18 22:37] thiscantbeserious commented on #43
Ping @herbrandson PR is up for Review 🙉

[2020-02-22 17:09] herbrandson commented on #43
Thanks for this @thiscantbeserious ! I'll work on reviewing this weekend.

[2020-03-03 14:28] Stolr commented on #39
Hey.

Got the Exact same problem.

It would be good to have some debug information.

I know that this often happens with X509 Self Signed Certfs.

Got it fixed by using a LetsEncrypt cert.

There should be a better error message for helping us understanding.

[2020-03-03 16:54] Stolr commented on #39
Forget my last comment.

Does not work anymore :/

[code]

[2020-03-03 18:20] Stolr commented on #39
@JrCs Have you resolved it ?

[2020-03-03 18:32] Stolr commented on #39
As a temporary workaround you can set node env var

[code]

This make it work but this is not really secure.

A fix to provide a custom RootCa would be great :)

[2020-03-05 16:08] JrCs commented on #39
No it's not resolved for me.

[2020-03-06 08:57] thiscantbeserious commented on #61
@herbrandson it would be awesome if we could have an toast for API-Errors - so that regular users will notice them as well and just don't see nothing. I'll see what I can do when I find time ...

[2020-03-07 17:27] herbrandson commented on #61
@thiscantbeserious There's a "toaster" feature in notifier.js. Checkout `addUserNotification`. Thanks!

[2020-03-24 21:58] herbrandson commented on #49
Het @botzill. I took a quick look and this doesn't look like it's going to be too difficult. Currently the list of containers is built in `client/src/views/logs.js` by grabbing the `pod.spec.containers` collection. Looking at the docs there's also an optional `pod.spec.initContainers` collection that should have the needed info. The most difficult part is probably going to be updating the react-se

[2020-03-25 23:31] ryanelian opened #71 "Feature Request: Key-Value Secret Editor"
![image](https://user-images.githubusercontent.com/8892187/77595150-fb152d00-6f2a-11ea-9df3-6c93e9515a68.png)

[Openshift Console](https://github.com/openshift/console) has a baller key-value secret editor UI.

It'd be nice if this feature can be adapted for k8dash as well.

To preview this feature in your kubernetes cluster: deploy the Openshift Console

[code]

[2020-03-27 12:46] reddog335 opened #72 "Cannot View Workloads Tab as Non-admin"
Hi there,

I really dig k8dash, thank you!  I want to allow our developers to use it as they prefer a UI over command line.  Our developer role has read-only everything to their namespace.  I had to add a cluster role for them to list all namespaces so they can select the namespace they have access to in order to see anything.  Once the namespace is selected it only shows pods.  There's no WORKLOA

[2020-04-01 07:27] mickkael commented on #42
I had the same issue, with similar logs.

I have resolved by creating the service account in the namespace kube-system instead of default. My metric-server is in kube-system

[code]

[2020-04-07 08:13] obeyler opened #73 "unable to create or edit yaml of CRD"
When CRD is used It will be great to be able to add CRUD for such new object
By example I cannot create IngressRoute of Traefik V2 or K8SObject created by operator

[2020-04-07 10:55] herbrandson commented on #72
Hey @reddog335.  Thanks for the question. Permissions are entirely managed by K8S, so I'm not sure of the role you need off hand. But, if you look at the browsers networking tab you should be able to see the calls that are failing. From there we should be able to figure out what roles are needed from the K8S docs. Do you mind posting the calls that are failing?

[2020-04-07 10:56] herbrandson commented on #71
@ryanelian can you explain a bit more about what you're looking for? What is it you like about their UI?

[2020-04-08 13:13] saiharshitachava opened #74 "Readonly dashboard"
HI Team,

Im currently using the authentication using service account..

I want to disable the access to change any resources in any way..I need a simple read only dashboard..

I tried creating cluster role with read only access to the resources and attached a new service account to it with the  Cluster ROlebinding..

I still see the edit options with the new token..

Please help

[2020-04-09 04:52] saiharshitachava opened #75 "Slow loading of dashboard"
HI Team,

I have a cluster of 200 plus nodes and Im seeing latency in the dashboard while loading..

Are there any recommendations to improve the performance of this?

I have all the resource I need so it isnt a resource issue

[2020-04-09 04:53] saiharshitachava commented on #74
Never mind the dashboard does show the option but doesnt allow edit or delete
closing the issue

[2020-04-09 04:53] #74 closed

[2020-04-09 05:03] saiharshitachava commented on #75
@herbrandson do you have any recommendations here..

[2020-04-09 16:18] mmorev commented on #72
Joining to @reddog335 question. When k8dash is loaded, it queries apis/authorization.k8s.io/v1/selfsubjectrulesreviews to acknowledge actual _cluster_ privileges. Then, if user has _cluster-wide_ rights for pods, deployments, replica/stateful/daemon-sets, jobs etc., k8dash queries api for these objects, without filtering by namespace until user clicks 'Workloads' and selects namespace through drop

[2020-04-10 12:53] herbrandson commented on #75
Hey @saiharshitachava. Sorry about the issues you're having. 200+ nodes is a lot, but nothing ridiculous. My initial guess would be that the delay is at the network side. Would you mind looking at the network tab in your browser and seeing if there are any long running network calls that explain the latency? If so, I can look into what could be done to optimize that. If not, we may need to profile

[2020-04-10 15:49] herbrandson commented on #73
Thanks for the suggestion @obeyler. I've been thinking a bit about this and the trick is how to support this w/o having to build custom UI for every imaginable CRD. One approach would be to build UI for the most commonly used CRD's, but that seems like a never ending (and tedious task). I'm wondering if there's a way to create a dynamic/automagical UI for these. Let me think on this a bit. If anyo

[2020-04-10 16:09] obeyler commented on #73
@herbrandson may you can get kind object from the crd list (kubectl get crd) and then propose to list the object, or just let the user add the kind object into config file to let him specify witch crd he need to be able to create or delete

[2020-04-10 17:43] reddog335 commented on #72
@mmorev @herbrandson  Thank you both for your responses.  My goal is to only allow the developers to see the kubernetes objects in their namespace, I do not want them to be able to list pods in other namespaces.  If I understood @mmorev's response correctly, it doesn't sound like this is a supportable scenario.

[2020-04-13 12:09] olivergg commented on #69
Would something like this be enough ?
![Sélection_132](https://user-images.githubusercontent.com/8093035/79119321-6024ab80-7d90-11ea-9e9e-cbc26dc5e218.png)

[2020-04-13 12:32] olivergg commented on #69
Here it is : #76

[2020-04-13 12:33] botzill commented on #69
Hi @olivergg

Sure, that's great. And when we have multiple all are shown there, right?

[2020-04-13 12:35] olivergg commented on #69
@botzill  yes it should, but I haven't tested it :see_no_evil:  :wink:

[2020-04-13 12:43] olivergg commented on #69
![Sélection_133](https://user-images.githubusercontent.com/8093035/79121148-ea6f0e80-7d94-11ea-9936-4aa5434cac29.png)

[2020-04-13 12:57] herbrandson commented on #72
@reddog335 Developers will **not** be able to see pods that are in namespaces they don't have permissions to. I believe this should already work exactly how your wanting :)

[2020-04-13 13:03] olivergg commented on #58
See https://github.com/herbrandson/k8dash/issues/19 maybe ?

[2020-04-13 20:56] mmorev commented on #72
@herbrandson for better understanding.
**Expected behavior:** user with "view", "edit" or "admin" roleBinding in namespace "N" logs into k8dash see "Workloads" button in left menu, and any pods, daemon/replica/statefulsets in namespace "N".
**Actual behavior:** user with "admin" or even "cluster-admin" roleBinding in namespace "N" logs into k8dash and sees nothing but "Cluster" and "Profile" butto

[2020-04-14 05:56] GounGG opened #77 "error formatting when modifying yaml"
There is a small problem with formatting when making changes on the web page
[code]

[2020-04-14 06:57] botzill commented on #69
great!

On Mon, 13 Apr 2020 at 15:43, olivergg <notifications@github.com> wrote:

--
Chirica Gheorghe,
Co-Founder - https://www.crawless.com

[2020-04-15 16:00] #69 closed

[2020-04-15 16:02] herbrandson commented on #77
Hey @GounGG. Thanks for using k8dash and for filing the issue. I'm so sorry, but I'm not seeing the issue. It looks like valid YAML to me. Would you mind pointing out where the issue is? Thx!

[2020-04-22 20:13] erick-thompson opened #79 "Pass SA's token to server to avoid login screen"
The scenario I'm working on is running k8sdash as an internal dashboard. The service will be exposed on an internal IP address (running AKS if it matters). I am using a low-permission cluster role for the service so it doesn't expose configs and secrets.

Given this, what I'm looking to do is have the dashboard load with the service account's token automatically. I'd rather not explain to users ho

[2020-04-23 20:20] herbrandson commented on #79
If you pass an `Authorization` header with a valid "Bearer" token, the server will pass it to the client (via a cookie) and the client will then use that for authentication. Will that work for your purposes?

[2020-04-23 20:41] erick-thompson commented on #79
I might be able to make that work. What I was hoping for was a way to pass an environment variable or argument with the token from the secret, and have the server use that for everything. That way they only need to load the page, and not worry about authorization.

If this isn't possible, is it something you'd consider accepting in a PR?

[2020-04-24 11:37] botzill opened #80 "Show new lines for configs"
Currently when we have a config with new lines it show it like this, would be nice to have it with new lines formated.

<img width="882" alt="Screen Shot 2020-04-24 at 14 38 54" src="https://user-images.githubusercontent.com/4686040/80208534-1ca42a00-8639-11ea-9305-7e8c08c4b754.png">
<img width="844" alt="Screen Shot 2020-04-24 at 14 38 28" src="https://user-images.githubusercontent.com/4686040/80

[2020-04-24 14:46] herbrandson commented on #80
I was under the impression that it would be invalid yaml in that case. Is that not correct?

[2020-04-24 14:48] herbrandson commented on #79
I see w what you’re saying. Yeah I’d definitely take a PR for something like that!

[2020-04-30 12:48] olivergg commented on #67
Here is the PR : #81
@mowings  @herbrandson let me know what you think ;)

[2020-04-30 16:18] herbrandson commented on #67
Looks great. I've merged it in. I'm going to close this ticket, but please feel free to reopen if that was premature @mowings

[2020-04-30 16:18] #67 closed

[2020-04-30 17:50] #52 closed

[2020-04-30 18:06] olivergg commented on #38
Changing the global scss variable $color-accent seems to be enough (at least it is for the proposed use case). The question now is how can we make it available at runtime ? I'll try to investigate some solutions ;)

[2020-05-05 15:42] mjpitz opened #82 "Add CODE_OF_CONDUCT.md"
Every indeedeng project has a `CODE_OF_CONDUCT.md`. See the one under the fibtest project as a reference.

https://github.com/indeedeng/fibtest/blob/master/CODE_OF_CONDUCT.md

[2020-05-05 15:43] mjpitz opened #83 "Add OSSMETADATA"
Similar to other projects, let's add an OSSMETADATA file for tracking current lifecycle information. I suspect current contents would include:

[code]

https://github.com/indeedeng/cluster-preset/blob/master/OSSMETADATA

[2020-05-05 21:26] herbrandson commented on #77
Closing for now. Please reopen and add a comment if I missed something :)

[2020-05-05 21:26] #77 closed

[2020-05-05 21:26] herbrandson commented on #75
Hey @saiharshitachava. Any updates here?

[2020-05-05 21:29] #42 closed

[2020-05-05 21:40] #37 closed

[2020-05-06 00:30] #83 closed

[2020-05-06 00:34] #82 closed

[2020-05-07 17:01] paullryan opened #88 "Feature Request: Rollback Support"
Would be nice to have an easy rollback support right from the dashboard this would utilize `kubectl rollout undo`.

An added bonus would be for a view/popover from the the resource (deployment, daemonset, etc) that shows previous rollout revisions (rollout history) and allows you to one click a rollback from there.

[2020-05-07 18:19] ericblackburn opened #89 "Feature Request: Add timestamp to logs"
Timestamps will enhance auditing.  For example, when using the pod logs, it is hard to know when or the frequency without the timestamp.  e.g.
[code]

[2020-05-08 14:46] herbrandson opened #90 "Add UI to eaisly drain/uncordon nodes"
`kubectl` provides the `drain` and `uncordon` features to safely take a node out of the cluster during maintenance and return it to the cluster when completed. It would be nice if this were avaiable via K8Dash. This functionality is not offered via a single API and requires multiple coordinated calls. Details available here: https://kubernetes.io/docs/tasks/administer-cluster/safely-drain-node/

[2020-05-08 15:57] herbrandson opened #91 "Add graphs for viewing Disk usage (similar to existing CPU/RAM graphs)"
It would be nice to view the amount of ephemeral storage used in addition to CPU and RAM

[2020-05-08 16:06] herbrandson opened #92 "Make "Namespace" label into hyperlinks throughout the app"
For example, when viewing a Pod, you should be able to click on the Namespace name to jump directly to that namespace.

<img width="367" alt="Screen Shot 2020-05-08 at 11 05 31 AM" src="https://user-images.githubusercontent.com/430142/81424688-f5128e80-911b-11ea-8f13-7a5e15043b4b.png">

[2020-05-08 20:08] #89 closed

[2020-05-12 20:55] herbrandson opened #93 "Sorting/Filtering should have permalinks"
When sorting/filtering, the URL isn't updated so there's no ability to share.

[2020-05-14 08:16] saiharshitachava commented on #75
Sorry for the delay..I did check and these seemed like network delays for me..like pulling bulk objects at once is taking time

[2020-05-14 08:18] saiharshitachava opened #94 "Export option for metrics"
I think adding an export option for these metrics like usage of all namespaces and usage of individual nodes and pods is worth a feature

[2020-05-22 14:04] Queuecumber commented on #72
@herbrandson Just to help clear up some confusion, it currently doesn't quite work. See screenshot below:

![Screenshot from 2020-05-22 09-54-41](https://user-images.githubusercontent.com/5865387/82675089-49386b00-9c12-11ea-873f-788fa90a6867.png)

The user "max" has permission to only access the "max" namespace, and to list all namespaces in the cluster.

Even though the user has full access to th

[2020-05-26 15:02] kyleyankan commented on #61
I'm also having this issue, and am getting a HTTP 403 on the WSS request.
`Request URL: wss:/k8s.ingress.tld/api/v1/namespaces/default/pods?watch=1&fieldSelector=metadata.name%3Dtest-pod-for-github` (modified for public sharing) returns a
`Error during WebSocket handshake: Unexpected response code: 403`

[2020-05-28 10:57] saiharshitachava opened #95 "RAM usage under nodes"
HI

Can some one clarify what exactly is used vs available under RAM?

When I add all the KI values from kube node api I get the value as 384GB

But the dashboard says that available is 358Gi?

![image](https://user-images.githubusercontent.com/43260938/83133118-5f31aa00-a0b0-11ea-9d6b-cbfd0567c279.png)

@herbrandson any idea on this?

[2020-05-29 21:50] herbrandson commented on #95
That logic is in `nodeRamChart.js`, but it's just looping over the nodes and summing `status.capacity.memory`.

[code]

Any chance you've typed something in the "filter" box? The results will only be for non-filtered nodes.

[2020-06-08 22:40] vaizki opened #96 "eventList links lead to absolute / path, not relative"
I use k8dash under a subpath /k8dash/ and pretty much everything works great (thanks!) except the eventlists have links with absolute paths to /#!pod/... instead of /k8dash/#!pod/...

The function forming the links is here:
https://github.com/indeedeng/k8dash/blob/master/client/src/components/eventsPanel.js#L68

I guess just removing the leading slash from each href would do it?

[2020-06-10 09:16] prasenforu opened #97 "Any option without TOKEN ?"
First of all I want say Thanks for nice project !!

I want to use with clusterrole "view" mode so want to **skip TOKEN authentication** and I want use manage RBAC internally.

Similar like in default Kubernetes Dashboard, you can skip by passing parameter ```--enable-skip-login```

[2020-06-26 16:34] herbrandson opened #98 "Make sure client credentials don't end up in logs when DEBUG_VERBOSE is enabled"
When `DEBUG_VERBOSE` is enabled, we currently log all headers. This includes sensitive information such as user tokens. We need to scrub these headers to remove sensitive data.

[2020-07-01 06:23] papanito opened #99 "oidc: Login with google account fails"
I want to use G Suite to authenticate access to k8dash, so I have setup the config as suggested in https://github.com/indeedeng/k8dash#running-k8dash-with-openid-connect-oidc. I get prompted for my user and then the UI shows me `Invalid credentials`

Here the logs from the pod

[code]

~~I currently access k8dash using `kubectl port-forward`~~.

What do I miss to configure?

[2020-07-02 14:33] MrJinggles commented on #17
Hi,
could you elaborate how you fixed your issue in keycloak?
I have a similiar issue with keycloak in connection with the apis/authorization.k8s.io/v1/selfsubjectrulesreviews call.

Thanks in advance

[2020-07-03 11:53] MrJinggles opened #101 "Login over oidc (keycloak) leads to invalid credentials"
Hi,

first I want to say thanks for this fine piece of software!

Unfortunately I can´t get the login done over openid connect. We have a keycloak instance, which is working fine with other apps behind an nginx-ingress with TLS. So no kubectl proxy oder nodeport is used.

1. I get successfully redirected to the login mask from keycloak
2. After entering the credentials I get stuck in a loop with a

[2020-07-09 16:34] herbrandson commented on #101
Thanks for the question @MrJinggles. It could be that KeyCloak requires some additional OIDC configurations? If so, these can generally be provided via `OIDC_METADATA`. K8Dash uses the excellent `node-openid-client` module. OIDC_METADATA will take a json string and pass it to the Client constructor. Docs [here](https://github.com/panva/node-openid-client/blob/master/docs/README.md#client).

For ex

[2020-07-09 16:39] herbrandson commented on #97
Thanks for the request @prasenforu. Let me think about how we might be able to accomplish this. What if we allowed you to configure a "default login token" to be used. Then you could create an account/token with whatever permissions you'd like your users to have. Would something like that work?

[2020-07-10 01:52] prasenforu commented on #97
"default login token"  with read only view OK.
But skip TOKEN authentication button would be nice similar like in default Kubernetes Dashboard, where you can skip by passing parameter --enable-skip-login.

[2020-07-10 06:55] papanito commented on #99
@herbrandson thanks to look into it.
![Screenshot-20200710084616-1918x352](https://user-images.githubusercontent.com/15034009/87125128-43fab280-c28a-11ea-9193-817d17f802a2.png)

Below the details of the two 401
[trace.txt](https://github.com/indeedeng/k8dash/files/4901496/trace.txt)

[2020-07-15 14:25] MrJinggles commented on #101
Thank you for your time @herbrandson !
I tried these setting (With "client_secret_basic" too) and also changing the "response_types" setting with no success.
`
"token_endpoint_auth_method":"client_secret_post",
"introspection_endpoint_auth_method":"client_secret_post",
"revocation_endpoint_auth_method":"client_secret_post"`

Could you tell me, what information you would need, to pin the issue down

[2020-08-03 17:17] herbrandson opened #105 "Add support for Horizontal Pod Autoscaling (HPA)"
It would be nice if we could view HPA info in k8dash

Docs: https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/
API: https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#-strong-read-operations-horizontalpodautoscaler-v1-autoscaling-strong-

[2020-08-03 17:19] tianni4104 commented on #105
I would like to work on it

[2020-08-05 15:31] bpigadip commented on #61
+1
![image](https://user-images.githubusercontent.com/37906051/89432383-b788c600-d749-11ea-8dcf-0e556afb9a65.png)

[2020-08-05 17:20] herbrandson commented on #105
Resolved by #106

[2020-08-05 17:20] #105 closed

[2020-08-10 16:39] herbrandson opened #121 "Rapid updates to the "Events" for a Deployment can cause the app to hang"
In some cases when viewing a Deployment, the "Events" list can update so rapidly that basically causes the callback (and therefore `setState`) to be called continuously. Potentially we should be using something like `_.debounce` to rate-limit updates in `apiProxy`?

[2020-08-14 07:55] garasubo commented on #98
Hi, I plan to work on this. I can see `authorization` field is logged, so this should be removed in this issue. Any other fields we need to scrub?

[2020-08-14 16:07] herbrandson commented on #98
That’s the only one I can think of off hand. Thx!

[2020-08-17 18:26] #98 closed

[2020-08-25 03:20] deadok22 opened #127 "Dynamic reloads prevent page loads on slow and high-latency connections"
k8dash seems to be re-fetching data periodically without waiting for the earlier attempts to complete and without canceling them. On slow and high-latency connections that results in the content never being loaded as the subsequent reload attempts take bandwidth from the earlier attempts.

Leaving a tab like this open will also result in a memory leak as more and more in-progress requests get pile

[2020-08-27 21:18] herbrandson commented on #92
Resolved by #129

[2020-08-27 21:18] #92 closed

[2020-08-30 17:22] herbrandson commented on #127
Thanks for reporting this @deadok22 . I've been able to reproduce this as well. We'll check it out. Thx!

[2020-08-31 15:15] #121 closed

[2020-08-31 18:03] alzuri commented on #96
I would like to take this on!

[2020-08-31 21:19] tianni4104 commented on #127
I'm interested in resolving this issue

[2020-09-03 00:50] alisonjudy opened #131 "webpage backend / setting up on github pages"
Please help us implement a design / website for k8dash.

Would like to host on GitHub pages. If we can find a template to design around that would be great!

[2020-09-04 21:00] #96 closed

[2020-09-04 21:01] herbrandson commented on #96
@vaizki This should be resolved now. Please let me know if this didn't fix the issue for you and we can re-open the ticket. Thx!

[2020-09-04 21:03] herbrandson commented on #95
Closing due to inactivity. If this is still any issue for you, please let me know and we can re-open the ticket.

[2020-09-04 21:03] #95 closed

[2020-09-15 17:58] #127 closed

[2020-09-22 10:37] jppitout opened #138 "Minimum read-only RBAC permissions"
Good day,

We have developers with edit access to some namespaces but not all and we don't want to give them cluster-admin access.
What are the minimum RBAC permissions required for the dashboard metrics to be populated?

Currently when we login to K8Dash as cluster-admin it works but logging in with edit access to a single namespace then the dashboard does not load.

[2020-09-22 17:20] lynchs61 opened #139 "Workloads pie chart blank"
I just setup and installed k8dash. The metrics-server is installed and working and everything looks good except for the pie chart for Workloads. It is blank with the three dots in the center "spinning".

I notice that if I create a new deployment it briefly shows the correct behavior for the Workloads pie chart - "0 of 1". But a moment later it goes back to being blank.

I see no errors in the bro

[2020-09-22 18:06] herbrandson commented on #139
Thanks for reporting this @lynchs61 . I have not seen this behavior before. If you open the developer tools, are there any errors in the logs?

[2020-09-22 18:09] herbrandson commented on #138
Hey @jppitout. Thanks for the question. This is something that has come up a couple of times and is something we really need to resolve :(

I believe that the other permission you would need to give the user would be the ability to list namespaces. Would that be possible for this particular use case?

[2020-09-22 18:47] lynchs61 commented on #139
When I look at the Workloads tab I do not see any errors in the console log.

I do however see errors in the console log during two other operations. I don't think they're related to this issue but I'll put them here for completeness.

- If I navigate to a particular deployment I see console log errors regarding autoscaling:
   http://192.168.60.100/apis/autoscaling/v1/namespaces/{namespace}/horiz

[2020-09-23 14:19] lynchs61 commented on #139
Can you give me some direction for debugging this? React isn't something I have much experience with and I found myself just wandering around the code with no real idea what I'm looking for.

[2020-09-23 18:00] kfirfer commented on #138
@herbrandson
Hi

im facing the same problem
in my scenario  I can't give some of them permission to list namespaces :(

[2020-09-25 00:18] herbrandson commented on #139
Thanks for offering to look into this issue @lynchs61! I took a quick peak at the code so I could point you in the right direction and realized it was a [super silly bug](https://github.com/indeedeng/k8dash/commit/b1b6bbcd3a64f519be6b9238c93df97f9026adca). I've merged a fix and a new docker image should be available on dockerhub in the next 15-20 minutes. Would you mind seeing if that resolves you

[2020-09-25 08:21] garasubo commented on #56
I'd like to provide a PR. Could you assign to me?

[2020-09-25 17:05] lynchs61 commented on #139
Perfect! I checked and the new image fixes it.

This has inspired me to take some of my free time to learn my way around client side React development. I've been doing Node.js backend development for a few years now but every once in a while I'm tasked with creating a web UI for something. Next time I might make a React app! :)

[2020-09-25 17:05] #139 closed

[2020-09-26 15:10] herbrandson commented on #139
@lynchs61 Glad that fixed it.

If you're interested in learning some React, there are a handful of k8dash issues flagged as "good first issue". Let me know if you'd like to take one. If so, I'd be more than happy to jump on a zoom call to get you up and running and pointed in the right direction :)

[2020-09-28 18:40] Zacharias3690 commented on #49
Currently working on this if you wouldn't mind assigning me.

[2020-09-29 09:10] botzill opened #142 "Show new lines in configmaps keys"
Hi.

I think would be great if we have new line properly as new lines and easier to edit smth like:

<img width="982" alt="Screen Shot 2020-09-29 at 12 10 05" src="https://user-images.githubusercontent.com/4686040/94538445-b60ce300-024c-11eb-88d1-3a6ae58d1259.png">

[2020-09-30 17:12] #49 closed

[2020-10-02 04:10] rajaSahil commented on #142
Hi, @botzill I would like to take up this as my first contribution. Can you please give me some insights on how and from where should I start?

[2020-10-02 14:09] herbrandson opened #144 "Use "prefers-color-scheme" to automatically switch to Dark Mode"
https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme

It would be nice to use this to default the dark/light mode (but still let the user override if they'd like)

[2020-10-02 14:26] dineshsy commented on #144
I would love to do this :heart:

[2020-10-02 15:13] herbrandson opened #146 ""Node Ram" chart needs to inteligently switch between Gb, Tb, Pb, etc."
<img width="434" alt="Screen Shot 2020-10-02 at 10 11 16 AM" src="https://user-images.githubusercontent.com/430142/94939436-c664ce00-0497-11eb-8f9f-d84ebd9d597b.png">

We have this working correctly in other parts of the system, but the logic doesn't seem to be correctly applied here.

[2020-10-02 15:24] herbrandson commented on #144
Thx @dineshsy. I'll assign it to you then :)

[2020-10-02 15:32] herbrandson commented on #142
Thx @rajaSahil . I'll assign it to you. This code is in `client/src/views/editorModal.tsx`. We're currently using [yamljs](https://www.npmjs.com/package/yamljs) from to convert the JSON we get from the k8s api into YAML. With a little luck, there's a feature in that package to make this work out-of-the-box. If not, we may need to do a little find-and-replace on the YAML string we get back (though

[2020-10-02 15:35] herbrandson commented on #38
We've recently added a "dark mode" that can be enabled by going to "Profile" and toggling "Use Dark Mode". I know that's not quite what was asked for here, but hopefully it's at least a useable workaround for the time being.

[2020-10-02 15:39] herbrandson commented on #80
@rajaSahil fyi, this might be an easy follow-up task if you wrap up #142 :)

[2020-10-02 15:56] dineshsy commented on #144
@herbrandson  Kindly review my pull request #147 :heart_decoration:

[2020-10-02 17:50] jmakhack commented on #146
Hey @herbrandson, can I pick up this issue?

[2020-10-03 08:16] rajaSahil commented on #142
@herbrandson Currently we are using `yamljs` to parse json into YAML. And the parsed YAML looks like this.
[code]
But if we use `yaml` package to parse yaml  then parsed YAML will be:
[code]
So should I change the `yamljs` package to `yaml` package?

-  Here is the link of `yaml package`: [yaml package](https://www.npmjs.com/package/yaml)

[2020-10-03 08:51] rajaSahil commented on #142
@herbrandson Please review.
https://github.com/indeedeng/k8dash/pull/149

[2020-10-03 10:54] rajaSahil commented on #80
Sure @herbrandson . You can assign me this.

[2020-10-03 17:02] goldsziggy commented on #93
I'd like to take a stab at this one, I have a couple of ideas here

[2020-10-03 21:07] goldsziggy commented on #93
Linked MR  to allow saving the sorts to query-params.  I am more reluctant to do that for filtering as filtering runs on change of the field (each key-press).

I think to handle filtering some kind of setTimeout batching should happen for saving, thoughts?

[2020-10-03 23:43] #146 closed

[2020-10-03 23:46] herbrandson commented on #142
@rajaSahil Looks great. I requested one really small change in the PR. We should be good to merge after that. Thx for the awesome work!

[2020-10-04 02:31] goldsziggy commented on #131
So for clarification here, are you just looking for a basic static website using something like gatsby hosted on GH Pages (like a marketing site)?  Or are you looking to host up the client-side UI here?

[2020-10-04 16:40] simarpreetsingh-019 opened #151 "Adding Table of Content to Readme.md"
The idea for Adding Table of Content to Readme.md to add additional enhancement and readability to the docs file.

I would like to work on this issue.

[2020-10-04 16:54] #142 closed

[2020-10-04 16:57] herbrandson commented on #151
Sounds good. Feel free to submit a PR when you're ready.

[2020-10-04 17:11] herbrandson opened #152 "Fix styling of dropdown's in dark mode"
<img width="530" alt="Screen Shot 2020-10-04 at 12 10 48 PM" src="https://user-images.githubusercontent.com/430142/95022101-b3d6ca00-063a-11eb-858c-6364b4959472.png">

Dropdown's are hard to view in dark mode

[2020-10-04 18:32] simarpreetsingh-019 commented on #152
As far as I can understand, we need to change the color code in settings.scss file so that it will be more visible.

If that so, I would like to work on this issue.

if there is anything else needed in this issue, which is needed/asked, please guide me so that I could have a better understanding of this issue.

[2020-10-04 20:23] herbrandson commented on #152
Yeah, you're on the right track. We're using [React Select](https://www.npmjs.com/package/react-select) for the drop downs. You can see an example of where it's being used in `namespaceFilter.tsx`. The css for the Select control should all be found in `select.scss`. The colors we want should all come from the variables being declared in `settings.scss` (just like you suggested). Really the tricky

[2020-10-04 20:27] herbrandson opened #153 ""Filtering" should support permalinks"
Similar to #93, it would be nice if any applied "filters" updated the url so the url could be shared.

[2020-10-04 20:28] herbrandson commented on #93
@goldsziggy I created a new issue for "filtering". I'll respond to your question there. Thx!

[2020-10-04 20:28] #93 closed

[2020-10-04 20:31] herbrandson commented on #153
@goldsziggy you had asked "I am more reluctant to do that for filtering as filtering runs on change of the field (each key-press). I think to handle filtering some kind of setTimeout batching should happen for saving, thoughts?"

I actually don't think that will cause any issues. I would start with updating on key-press. We can always optimize later if we find it causes perf issues.

[2020-10-04 20:43] simarpreetsingh-019 commented on #152
@herbrandson just one thing, is there some resources where I can get help to set up it offline to check and do changes to not mess up anything else while doing it apart from reading from the Development section's Part of k8dash in Main Readme.md? if so, could you give their reference here?

I would love to work on this issue, but could I get some time for it ( min2-3 days because having some paper

[2020-10-05 00:59] herbrandson commented on #152
Not really. But, let me know if you run into issues with getting a local environment working after following the readme.md and I'll be happy to lend a hand getting you unstuck :)

[2020-10-05 01:11] goldsziggy commented on #153
Added a PR that should address it, it seems to work and behave in my local, do you have any special cases you'd like me to run as  well?

[2020-10-05 01:21] goldsziggy opened #156 "Add git hooks or build step for running linters"
Hey All ~ I noticed the `npm run lint` command probably hasn't been run in a while, I was wondering if adding pre-commit hooks or a build step to run the linters if you might get better adoption there.

[2020-10-05 15:23] herbrandson commented on #156
This would be absolutely fantastic! Would you like me to assign this to you?

[2020-10-05 18:23] goldsziggy commented on #156
yeah you can assign it my way I should find some time this week, do you have a preferred method?  I don't see Github Actions be leveraged here yet, would you be opposed to me adding something leveraging that (like a build-lint-test step)

[2020-10-06 01:18] goldsziggy commented on #156
I have the workflow file more-or-less complete.  Would you like the PR to just contain the workflow file with the failing lint?  Or do you want me to bundle the `npm run lint`  run where it changes all the files as well?

[2020-10-06 01:28] goldsziggy commented on #156
I created the follow Draft PR so you can see the changeset for the workflow:
https://github.com/indeedeng/k8dash/pull/157

You can view a sample run off of my Fork of this repo on the branch `156-add-github-workflow`, below is a direct link to the action running

https://github.com/goldsziggy/k8dash/runs/1212378528?check_suite_focus=true

[2020-10-08 19:55] simarpreetsingh-019 commented on #152
@herbrandson I tried setting up docker, starting minikube, cloning the repo, and then starting the project as is there in the docs of how to start with development for the client.
Good news. it started and the localhost got setup.
problem is I can't see anything, as it will only show loading
![Screenshot (119)](https://user-images.githubusercontent.com/47384034/95506911-40ccab00-09ce-11eb-834e-a6e

[2020-10-08 21:29] ericblackburn commented on #152
A shot in the dark. When you [startup the server](https://github.com/indeedeng/k8dash#server), what do you see for Version and Available APIs?

For example, I get
[code]

[2020-10-08 21:49] simarpreetsingh-019 commented on #152
One thing to confirm, do I need to set up nodeport also?
And after getting the token from [Server-account-token](https://github.com/indeedeng/k8dash#service-account-token) where do i need to use it?

[2020-10-08 22:08] ericblackburn commented on #152
I don't think you need the nodeport.

I just tried to go through the steps, using a new minikube cluster and I was able to get k8dash to load via the following steps.

Start a new minikube cluster
[code]
This will populate ./kube/config.  So, ensure that the context is currently this minikube cluster that was setup.
`kubectl config use-context k8dash`
Double check that you get use kubectl to see t

[2020-10-08 22:13] ericblackburn commented on #152
Another possible break point might be the kubectl version, which is really meant to only be 1 minor version way from the cluster version at any point. For example, if kubectl version is 1.18, it will work with cluster's on 1.16-1.18.
[code]

[2020-10-08 22:18] ericblackburn commented on #152
If you already tried to replicate my path, please note the **EDIT**

[2020-10-08 23:07] simarpreetsingh-019 commented on #152
[nodemon] 1.19.4
[nodemon] to restart at any time, enter `rs`
[nodemon] watching dir(s): *.*
[nodemon] watching extensions: js,mjs,json
[nodemon] starting `node .`
OIDC_URL:  None
API URL:  https://127.0.0.1:32772
[HPM] Proxy created: /  ->  https://127.0.0.1:32772
[HPM] Subscribed to http-proxy events:  [ 'error', 'proxyRes', 'close' ]
Server started. Listening on port 4654
(node:10400) Experimen

[2020-10-09 15:04] #151 closed

[2020-10-09 17:14] ericblackburn commented on #152
Ideally, if kubectl works then k8dash will work. I am wondering whether there is a problem loading the kubeconfig or something else with routing in Docker for Windows.

To validate that the kubeconfig isn't the issue, are you able to `kubectl get pods -A` and see what I saw?

Following up on that, I wonder where that kubeconfig is.  k8dash/server/index.js is getting the kubeconfig from the call `n

[2020-10-27 12:03] dfateyev opened #166 "Cannot edit any cluster resource"
There is an error while editing any of cluster's object (ingress, pod, etc.): `"There was an error and this content was unable to be displayed."`. The viewing resources is fine. I'm using Kubernetes 1.17.12 and Nginx ingress with the latest K8dash:
[code]

[2020-10-27 14:34] YoussetCH commented on #166
I have the same problem, this happened since I updated my ks8 board, I detected it today, because I need to edit my implementation and I could not

[2020-10-28 09:06] marcomezzaro commented on #166
Hi all,
since the last update, when I try to edit a resource following error shows up in console:

`TypeError: "gt.a is undefined"
react-dom.production.min.js:209:194`

"There was an error and this content was unable to be displayed." is shown in the web page.

cluster version 1.15 and 1.18
error is present with ingress and nodeport

thank you for your hard work!

[2020-10-30 15:25] herbrandson commented on #166
Thanks for reporting this. I am able to reproduce this locally as well. We will take a look ASAP.

[2020-11-01 22:02] herbrandson commented on #166
@dfateyev @YoussetCH @marcomezzaro can you confirm if this is resolved for you now with the latest update?

[2020-11-02 00:03] YoussetCH commented on #166
@herbrandson If I can edit now, thanks for fixing the problem.

[2020-11-02 07:53] marcomezzaro commented on #166
I confirm, issue fixed.
thanks for your hard work

[2020-11-03 07:17] GoldenMouse opened #169 "Google Auth OIDC setting"
When creating the Oath Client ID for Google Auth, what should the Authorized redirect URIs be?

[2020-11-03 17:53] saiharshitachava opened #170 "403 on all the api calls"
@herbrandson  We are seeing this errors when deployed this on EKS cluster

![image](https://user-images.githubusercontent.com/43260938/98022264-62edf900-1dd3-11eb-8251-af036b4ced8a.png)
"Api request error: Forbidden - nodes is forbidden: User "system:serviceaccount:test:k8s-dashboard-admin-readonly" cannot list resource "nodes" in API group "" at the cluster scope"

Its the same for all pods/event

[2020-11-04 05:21] saiharshitachava commented on #170
NVM I messed up the rolebindings..Im good now ..

[2020-11-04 05:21] #170 closed

[2020-11-10 18:22] #166 closed

[2020-11-10 18:23] #156 closed

[2020-11-10 18:28] herbrandson commented on #152
Hey @simarpreetsingh-019 , are you still interested in working on this issue? Are you still blocked on getting things working on Windows? Anything we can do to help?

[2020-11-10 18:31] herbrandson commented on #169
Hey @GoldenMouse . Thanks for the question. The url will be provided by Google when you configure your OIDC account and usually looks something like `<some hash>.apps.googleusercontent.com`. Hope that helps :)

[2020-11-12 14:42] obeyler opened #172 "Put Tag on Docker image"
Hi,
Could you put a tag on your herbrandson/k8dash docker image ?
herbrandson/k8dash:latest is forbidden in production

[2020-11-12 21:03] simarpreetsingh-019 commented on #152
@herbrandson  sorry I was not able to connect with you during the whole time, got infected with our novel virus during my exams, just got back with the development.
some points to discuss:
is there any update on the client-side? 2 weeks back, it started to deploy locally with windows popping up showing the dashboard start.
But now, I can't start it because it got stuck with errors when I run npm s

[2020-11-13 10:46] lukjaw opened #173 "Feature Request: Edit Secrets on the fly"
Hi, i know i can view hashed values in the secret, but will it be possible to edit it on the fly ?

Now when we click Edit on Secret object we are just modifying YAML with Base64 string, would it be possible so edit will actually allows us to edit the encoded contents, and then re-encode them to Base64 upon saving ?

Overall this is great, i am using this dashboard on 4 production clusters, viewin

[2020-11-17 15:59] herbrandson commented on #152
@simarpreetsingh-019 sorry, to hear you got COVID. My son also caught it at while at university. What a mess!

From reading through the thread above, it looks like @ericblackburn was helping you get a working development environment going. Were you able to work through his last couple of suggestions? For example, does `kubectl get pods -A` work for you?

Can you explain more about what errors you'

[2020-11-17 16:02] herbrandson commented on #172
Hey @obeyler!

Thanks for asking. This is actually a duplicate of #34. The good news is we're actively working on our versioning strategy which will enable us to start putting more useful tags on the docker images. Hope that helps.

[2020-11-17 16:02] #172 closed

[2020-11-17 16:02] herbrandson commented on #172
cc @ericblackburn

[2020-11-17 16:04] herbrandson commented on #173
Thanks for the suggestion @lukjaw. I can totally see how this would be useful :)

[2020-11-17 17:04] simarpreetsingh-019 commented on #152
@herbrandson i followed @ericblackburn steps , before getting affected , when i was trying to so , i got to see client side working with web page getting displayed, but can't enter the token.

but now, when i try to run npm start in client , it shows :

`
C:\Users\Jasvinder Singh\Desktop\SP\github cloned repos\k8dash\client\node_modules\react-scripts\scripts\utils\verifyTypeScriptSetup.js:231

[2020-11-19 04:46] buck-ross commented on #97
This would be a fantastic feature!

In the meantime, if you have a reverse proxy like Nginx between your service & the end user, I've come up with a (very hacky) way to bypass end-user authentication by handling it in the proxy. Here's an excerpt from my `nginx.conf` file:

[code]

I should note that this is far from an ideal solution, and I wouldn't be surprised at all if the next update breaks i

[2020-12-03 14:28] herbrandson opened #176 "Add additional data to the Pod view"
Additional data that would be nice to have:
1. init containers (during troubleshooting) -- probably less needed in general
2. volumes (when trying to understand what mounts where)

[2020-12-03 14:29] herbrandson opened #177 "UI: It would be nice if boxes/frames had labels"
Visually would probably be nice if boxes/frames in UI for "Containers" and "Events" were labeled

[2020-12-03 15:05] herbrandson opened #178 "Logs UI needs to notify the user if there were errors connecting to the log stream websocket"
For example, when the websocket gets `Error during WebSocket handshake: Unexpected response code: 400`

[2020-12-03 16:41] herbrandson opened #179 "Investigate using gRPC instead of REST/JSON API's to improve performance"
It would be interesting to see how hard it would be to use gRPC and what impact it would have on performance (especially for larger clusters)

[2020-12-03 16:44] herbrandson opened #180 "Investigate creating a "desktop" version of k8dash similar to Lens or Octant"
Some users may prefer a desktop version of k8dash. This would support managing multiple clusters from the same app. This would potentially not be too difficult to pull of with an electron app.

A related possibility would be to create an iOS and/or Android app using something like Cordova

[2020-12-08 18:48] tianni4104 commented on #179
@herbrandson I'm interested in this one

[2020-12-15 04:36] tianni4104 commented on #179
I did some investigations. It seems K8s doesn't support this yet https://github.com/kubernetes/kubernetes/issues/87421. If the need is just to use protobuf as the http content instead of JSON, that's viable as K8s api already supports this for all resources except CRD

[2020-12-29 03:56] BeastlyPixels opened #185 "Prometheus vs metric server"
Hello, thank you for your work on this. Is it possible to pull metrics from a Prometheus server instead of the default metrics server? Thank you!

[2021-01-04 14:57] herbrandson commented on #185
Thanks for the request. I do really like this idea.

[2021-01-20 05:12] tianni4104 commented on #179
It decreases by 35% from 696B to 450B for nodes and 55% from 4.5kb to 2kb for pods. It seems the compression rate increases as the payload increases.
Json
<img width="551" alt="Screen Shot 2021-01-19 at 9 07 49 PM" src="https://user-images.githubusercontent.com/20236683/105129717-86ebdd00-5a9a-11eb-96ab-b0816fad7c66.png">
Proto
<img width="551" alt="Screen Shot 2021-01-19 at 9 07 26 PM" src="https

[2021-01-20 18:35] herbrandson opened #188 "Overview is incorrectly comparing GB to TB in the "NODE RAM USE" chart"
<img width="451" alt="Screen Shot 2021-01-20 at 12 34 09 PM" src="https://user-images.githubusercontent.com/430142/105219252-dfaf8a00-5b1b-11eb-9c2a-6382f904dacd.png">

[2021-01-22 20:19] #179 closed

[2021-01-25 02:41] tianni4104 opened #189 "package-lock.json uses incorrect resolve url"
The resolved url in the project points to an incorrect indeed internal source. I investigated and found that we can run the following command to use a specific source npm install --registry=https://registry.npmjs.org/

[2021-01-25 02:48] tianni4104 opened #190 "Add protobuf support for metric kind EventList"
The generated protobuf codes is already include. In this issue, it needs to add protobuf support for EventList like other existing metric type.

[2021-01-25 02:50] tianni4104 opened #191 "Add protobuf support for metric kind PodList"
The generated protobuf codes is already include. In this issue, it needs to add protobuf support for PodList like other existing metric type.

[2021-01-25 02:51] tianni4104 opened #192 "Add protobuf support for metric kind NodeList"
The generated protobuf codes is already include. In this issue, it needs to add protobuf support for NodeList like other existing metric type.

[2021-01-30 08:27] simongottschlag opened #195 "Bundling dashboard with kube api proxy"
Hi!

Great project! 😁🙌

I've created a proxy for the Kubernetes API to use with Azure AD: https://github.com/XenitAB/azad-kube-proxy

I've been thinking that I maybe should enable easy access to a dashboard together with the proxy but haven't decided how to do it yet.

An idea I just had was that I maybe can include your frontend in the proxy? Haven't exactly thought it through but maybe add the r

[2021-02-01 07:38] afghanistanyn opened #196 "kubernetes v1.19.3 support?"
i use in k8s v1.19.3
when i login, the error happend

{
    "kind": "Status",
    "apiVersion": "v1",
    "metadata": {},
    "status": "Failure",
    "message": "selfsubjectrulesreviews.authorization.k8s.io is forbidden: User \"system:anonymous\" cannot create resource \"selfsubjectrulesreviews\" in API group \"authorization.k8s.io\" at the cluster scope",
    "reason": "Forbidden",
    "details"

[2021-02-01 07:42] afghanistanyn commented on #196
i found a clusterrole with the needed rights
kubectl get clusterrole system:basic-user -o yaml
...
rules:
- apiGroups:
  - authorization.k8s.io
  resources:
  - selfsubjectaccessreviews
  - selfsubjectrulesreviews
  verbs:
  - create

so solved with:
kubectl create clusterrolebinding system:anonymous --clusterrole=system:basic-user --user=system:anonymous

[2021-02-04 06:00] tianni4104 commented on #180
Hi @herbrandson, I'm interested in this one as the next project.

[2021-02-08 11:23] rdavyd commented on #39
Same here for 1.19.7 cluster. It did not work even when I added the binding to `cluster-admin` role.

[2021-02-08 18:05] yuqiuw commented on #190
Before: (1.3kB)
![image](https://user-images.githubusercontent.com/72527514/107262254-67363d80-69e4-11eb-9a89-bedb2c90a08f.png)

After: (400B)
![image](https://user-images.githubusercontent.com/72527514/107262203-55549a80-69e4-11eb-8645-cfabc24826cb.png)

[2021-02-08 20:27] simongottschlag opened #199 "OIDC callback containing #"
Hi,

I have a case where the redirect from the OpenID Provider ends with an hashtag.

That causes the following to cause issues: https://github.com/indeedeng/k8dash/blob/d027aabf098ecca1ea816c6999fd84f5b94467e0/client/src/services/apiProxy.ts#L23

I've tried with the following quick fix and seems to resolve my issue:
[code]

Going to try using post instead of redirect from the OIDC provider to see

[2021-02-08 21:05] simongottschlag commented on #199
A redirect from Azure AD looks like this: `https://domain.com/?code=<code>&state=https%3a%2f%2fdomain.com%2f&session_state=<uuid>#`

[2021-02-09 14:58] #189 closed

[2021-02-09 15:08] herbrandson commented on #180
Great. Let me know if you need anything to get started

[2021-02-09 19:14] yuqiuw commented on #190
Resolved in https://github.com/indeedeng/k8dash/pull/198

[2021-02-10 10:44] psreddy22 commented on #11
Hello ,
I have same issues with DEX, LDAP & k8DASH.

I'm redirected to dex, able to authenticate with LDAP and finally not able to login with k8dash.
Am I missing anything. All I have done as mention in this thread.

[2021-02-10 10:57] psreddy22 opened #201 "OIDC - DEX - Authentication Issue."
Hello All,

I have the following setup.

1. Working k8s cluster.
2. Working OIDC - DEX Service [Working as expected for argocd.]

Used same deployment file as mention in README. Only Changed in deployed in different namespace - k8dash.

k8dash.domain.com -> DEX (Internally using LDAP) Authentication success -> invalid Credentials (k8dash) -> DEX login page

k8dash is working absolutely fine with s

[2021-02-10 22:49] simongottschlag commented on #201
Hi!

I'm not a maintainer but have been digging into the code lately and maybe at least can get you on the right track.

First of all, without actually using the proxy provided in k8dash myself (and can be mistaken), the proxy in k8dash only forwards the token in question to the Kubernetes API. It doesn't handle impersonation or anything like that.

That means the token you are using needs to be a

[2021-02-11 12:40] psreddy22 commented on #201
@simongottschlag

Thank you very much for your quick reply. I'm able to debug by using your tips and able to find the issue with SCOPE & clusterrolebinding. Now I'm able to login with k8dash.

Once again thank you very much.

[2021-02-11 12:41] #201 closed

[2021-02-11 12:44] psreddy22 commented on #201
k8dash with DEX (OIDC) is working. Creating a sceret(proper base64 encrypts), clusterrolebinding with username/group access, redirect URL in dex config.

[2021-02-20 17:48] #188 closed

[2021-02-20 17:53] #199 closed

[2021-02-21 06:10] simongottschlag commented on #195
What I've done so far is to include a git submodule to this repo, created a small script to run your Dockerfile to build the frontend and then copy the frontend to another directory as well as your LICENSE file.

The end user will be able to enable the dashboard by adding a flag when starting the proxy like this:
--dashboard=K8DASH

I will add some documentation in the future that will make it cle

[2021-02-22 04:36] anannaya opened #204 "Namespace based UI access control ?"
I am just wondering , Is this tool can be used to provision namespaced based UI access control . ?

[2021-02-22 22:08] herbrandson commented on #204
Thanks for the question @anannaya . There is some support for this, though it needs to be extended still. There's a long discussion of what's currently support in this thread: https://github.com/indeedeng/k8dash/issues/19

[2021-02-22 22:09] herbrandson commented on #195
That sounds like a great solution. Thanks for letting us know :)

[2021-02-22 22:51] #195 closed

[2021-02-22 23:03] simongottschlag commented on #180
Hi!

I was reading through the issues and saw this. I think Octant creates a local web server using Golang - if I'm not remembering the wrong thing.

A first step here could be as easy as creating a Golang web server and embedding the frontend as well as a reverse proxy.

I've done something similar for another project and using Golang 1.16 embedding static files is quite smooth: https://github.co

[2021-02-22 23:59] tianni4104 commented on #180
Hi @simongottschlag, thanks a lot for providing this. This is super helpful. I will take a look and will let you know if I have questions.

[2021-02-23 03:01] zhouxw-lang commented on #192
Resolved in https://github.com/indeedeng/k8dash/pull/203

[2021-02-23 03:02] zhouxw-lang commented on #191
Resolved in https://github.com/indeedeng/k8dash/pull/202

[2021-02-23 05:14] MartinForReal commented on #185
@BeastlyPixels Please refer to https://github.com/kubernetes-sigs/prometheus-adapter. prometheus-adapter is a fully-compatible metrics-server implementation.

It can also expose custom metrics as performance indicator to k8s api.

[2021-02-23 05:17] MartinForReal opened #205 "Add support for custom metrics"
It would be great if k8dash supports custom metrics

[2021-02-23 10:02] zhouxw-lang commented on #191
@tianni4104 I have a question related protobuf support. How do we enable protobuf support on K8dash? Looks like the only place enabling it is the "enableProto" function: (https://github.com/indeedeng/k8dash/blob/8a75d1e6e67f551ad9141b6543156f846d62b637/client/src/utils/protoHelpers.ts#L83) but this function is not called anywhere in this repo.

[2021-02-25 15:33] stieglma opened #206 "OIDC Authentication fails with internal kubernetes api server IP"
Today I tried to install k8dash on my kubernetes cluster. The only thing I changed in the yaml file, was that I moved k8dash to its own `k8dash` namespace.

I configured OIDC as described in the README but could not manage to login. So I went on and tried to debug the issue with the web developer tools of both firefox and chrome. This is what I found:

1. There is no error in the k8dash-pod log fo

[2021-02-27 03:50] BeastlyPixels commented on #185
@MartinForReal  Thank you for sharing this!

[2021-02-27 22:50] simongottschlag commented on #206
Hi!

I'm not a maintainer.

If you look at the login function, you should see that if api.testAuth() fails it deletes the token: https://github.com/indeedeng/k8dash/blob/8a75d1e6e67f551ad9141b6543156f846d62b637/client/src/views/auth.tsx#L106-L125

Have you validated that the test is successful? If not, then it may be related to the token not having the permissions required for the test or somethin

[2021-02-27 23:21] stieglma commented on #206
Thanks for your response! While I missed the deletion part in the code, I just double checked, and the POST call to `/apis/authorization.k8s.io/v1/selfsubjectrulesreviews` works with exactly the token that I can find in the debugger.

I also debugged directly into the testAuth method, and it seems, that at this point of time, the token is still in the localstorage (I can see it in the webdev tools

[2021-02-28 08:21] simongottschlag commented on #206
@stieglma I think a few screenshots of the flow may be needed here, to see the requests and responses.

[2021-02-28 21:29] stieglma commented on #206
### TLDR: This is not a problem of k8dash but something weird in the api server

### My debugging process
I excluded all debugging steps I did which were in the end meaningless due to the following findings:

`testAuth` is (at least) called a second time, as far as I can tell still from the `onTokenChanged` event handler. And this time the call fails. I compared both calls Headers, and their Autho

[2021-03-01 14:04] stieglma commented on #206
As k8dash is working now, I'll close this issue. Maybe I'll create a new one later for the kubernetes v1.20 compatibility issues, when I played around with the tool a bit more.

[2021-03-01 14:04] #206 closed

[2021-03-02 18:29] herbrandson commented on #205
Thanks for the question @MartinForReal . Can you provide some more details about what you'd like to see here?

[2021-03-03 02:17] MartinForReal commented on #205
Since prometheus is the de facto standard of monitoring solution in kubernetes, let's take prometheus-adaptor as an example.
prometheus adaptor  registered custom.metrics.k8s.io apiservice in kubernetes cluster. And it provides metrics for node, namespace and pod resources. We can discover all of metrics by query /apis/custom.metrics.k8s.io/v1beta1/.

I think it would be great if we can add an ext

[2021-03-04 10:14] fgrelaud opened #209 "OIDC auth Invalid client credentials error 500"
Hi,

first of all great dashboard !

I have problem with latest image of k8dash to make work oidc.
My environment is k8dash with Dex.

The most surprising is that work on another k8s cluster but with an older image

- Cluster k8s with k8dash auth oidc failed:

`    Image:          herbrandson/k8dash:latest
    Image ID:       docker-pullable://herbrandson/k8dash@sha256:d16c01fb5b55a7374a75a5b4a86f

[2021-03-04 16:13] fgrelaud commented on #209
A priori, not a problem with the image.

I took the image from the cluster where i got no error and push it in the other cluster, and got the same error.

[2021-03-04 19:51] fgrelaud commented on #209
data encoding problem with my chart

[2021-03-04 19:51] #209 closed

[2021-03-05 15:15] herbrandson commented on #196
Hey @afghanistanyn . I don't think this is related to v1.19.3. It sounds like a permissions issue of some sort. Would you mind trying the instructions here and seeing if that works for you: https://github.com/indeedeng/k8dash#service-account-token

If so, we can work backwards from there and see where things aren't working. Thx!

[2021-03-13 15:06] mateuszkozakiewicz opened #210 "Exec not working"
Hello,
I have a problem with not being able to exec into any pod, the black rectangle where I assume shell should appear displays nothing. There seems to be an issue with websocket protocol. The ServiceAccount I'm using does have pod/exec permission. I'm using nginx ingress controller and loadbalancer is correctly set up to handle websocket. Any advice much appreciated.

`[HPM] GET /api/v1/namespa

[2021-03-16 10:36] GuptaTanisha commented on #177
Please assign this to me.

[2021-03-16 17:21] herbrandson commented on #177
Done. Thanks @GuptaTanisha  :)

[2021-03-18 20:03] GuptaTanisha commented on #177
@herbrandson Can you please explain where labels are required?

[2021-04-14 08:36] Stolr opened #212 "node Timezone not correct"
Hi ,

I'm having issue using the oidc auth because of the NodeJs Timezone.

I overrided your docker file with :
[code]

So the date of the container is now correct :
[code]

NodeJS date is not , and seems to be GMT. So In logs :

[code]

So yes , my token is issued  in the future....

Any way to fix NodeJs Timezone ?

Thanks

[2021-05-10 23:32] duckman commented on #61
I ran into this issue and it turned out to caused by using nginx as a reverse proxy and not setting it up to handle websockets.
 So that's working great now, but my metrics stopped working... so I'm working on that now :P.

[2021-05-18 20:36] herbrandson commented on #177
Yep, here's an example from the "deployment" UI. The three boxes at the bottom show Replica Sets, Pods, and Events. However, there's no labels in the UI to make that clear.

<img width="772" alt="Screen Shot 2021-05-18 at 3 34 40 PM" src="https://user-images.githubusercontent.com/430142/118719929-a566a880-b7ee-11eb-8f76-ceedfcae646a.png">

[2021-05-31 11:21] Evantage-WS opened #221 "Config with and in Keycloak"
Hello,

We have skooner up and running, but are unable to use oidc (keycloak). Is there any example how to setup skooner up with Keycloak?

Our config (oidc-secret is dummy):
[code]

Our yaml:
[code]

Error in Keycloak:
[code]

Thanks!

[2021-06-02 07:06] ws-prive commented on #221
Anybody?

[2021-06-07 04:35] #192 closed

[2021-06-07 04:36] tianni4104 commented on #191
@zhouxw-lang Sorry that I missed your message. We will make proto as the default method instead of json as we verified it working and can save payload body size.

[2021-06-07 04:36] #191 closed

[2021-06-07 04:36] #190 closed

[2021-06-08 17:30] yuqiuw commented on #221
Hi! We're seeing this! Thank you for bringing this up, I'll look into this

[2021-06-09 06:58] ws-prive commented on #221
Great, we want to use this, but we do need an AD connection and we are using Keycloak already.

[2021-06-10 03:53] tianni4104 opened #223 "Use Promethus for the Node counts in the cluster page"
We need to use Promethus data for the Node counts in the cluster page

Please refer to https://github.com/skooner-k8s/skooner/pull/207. Most codes should be the same. In the issue, you need to find the correct Promethus query and replace the existing pie chart

Promethus query: sum(kube_node_info)

[2021-06-10 03:54] tianni4104 opened #224 "Use Promethus for the Pod counts in the cluster page"
We need to use Promethus data for the Pod counts in the cluster page

Please refer to #207. Most codes should be the same. In the issue, you need to find the correct Promethus query and replace the existing pie chart

Promethus query: sum(kube_pod_info)

[2021-06-14 14:38] #212 closed

[2021-06-15 09:51] ws-prive commented on #221
Hi,

Thanks. I builded a new docker image, uploaded it to my account and tested it. Unfortunally it is not working.

This is the interface:
![image](https://user-images.githubusercontent.com/59507751/122032042-8f3d0f80-cdcf-11eb-8de5-2c90982f53b6.png)

In the logs:
[code]

[2021-06-15 16:30] yuqiuw commented on #221
I found this in a previous issue and here's a workaround https://github.com/skooner-k8s/skooner/issues/39#issuecomment-594099989, we're working on this.

[2021-06-15 16:41] ws-prive commented on #221
Thanks, but this workaround is not an option for us. I hope you can provide a solution soon 👍

[2021-06-16 19:46] caniszczyk opened #230 "Create SECURITY.md"

[2021-06-16 19:46] caniszczyk opened #231 "Adopt the CII badging program"
https://bestpractices.coreinfrastructure.org/en

[2021-06-18 11:12] ws-prive commented on #221
Hi, btw, I have tested it with
- name: NODE_TLS_REJECT_UNAUTHORIZED
   value: "0"
as stated in https://github.com/skooner-k8s/skooner/issues/39#issuecomment-594099989 , but it has the same result, it is not working.

[2021-06-22 17:26] yuqiuw commented on #221
Hi, could you help test if keycloak works for you in other projects? We're considering to put out an instruction of how to configure KeyCloak properly.

[2021-06-22 17:28] herbrandson commented on #230
Thanks @caniszczyk. Do you have any good examples you would recommend?

[2021-06-22 17:52] caniszczyk commented on #230
just keep it simple to start, e.g.,
https://github.com/thanos-io/thanos/blob/main/SECURITY.md

On Tue, Jun 22, 2021 at 12:28 PM Eric Herbrandson ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2021-06-22 20:17] ws-prive commented on #221
Hello,

Yes, Keycloak is working for other projects.

[2021-06-22 22:22] yuqiuw commented on #221
I see. Thank you for responding so quickly, I'll try to do the configuration myself to get it working.

[2021-06-23 10:15] ws-prive commented on #221
Excellent, I am looking forward to it

[2021-06-25 11:17] jppitout commented on #138
Hi @herbrandson,
Apologies for not getting back to you sooner. The developers are using Lens now, so no need for this requirement anymore.

[2021-06-25 11:21] #138 closed

[2021-06-25 19:33] cnwaldron commented on #55
I ran into this same issue.

[2021-06-25 20:07] herbrandson opened #235 "Remove tini from the Docker container"
This should no longer be needed in recent versions of Docker and removing it will make it easier for users to pass command-line switches to Node if needed.

[2021-06-25 21:20] caniszczyk opened #237 "Enable DCO bot for CNCF"
https://github.com/apps/dco

[2021-06-28 17:04] tianni4104 opened #238 "Use Promethus for the Pod Ram in the cluster page"
We need to use Promethus data for the Pod Ram in the cluster page. This tickets only needs to update the reserved RAM.

Please refer to #207. Most codes should be the same. In the issue, you need to find the correct Promethus query and replace the existing pie chart. The query could be `sum(kube_pod_container_resource_requests{unit="byte"}/1024/1024)`

Current:
<img width="248" alt="Screen Shot 20

[2021-06-28 17:07] tianni4104 opened #239 "Use Promethus for the Pod CPU in the cluster page"
We need to use Promethus data for the Pod CPU in the cluster page. This tickets only needs to update the reserved CPU.

Please refer to #207. Most codes should be the same. In the issue, you need to find the correct Promethus query and replace the existing pie chart. The query could be `sum(kube_pod_container_resource_requests{unit="core"})`.

Current:
<img width="249" alt="Screen Shot 2021-06-28

[2021-06-29 15:34] idevera commented on #239
@tianni4104. I would like to work on this issue.

[2021-06-29 17:20] cecomfort commented on #238
I'll take this one!

[2021-06-30 18:44] #238 closed

[2021-06-30 19:56] #239 closed

[2021-07-01 17:50] idevera opened #242 "Display failed to load text instead of loading component"
If the metrics server cannot load, we currently display a loading icon like this:

<img width="428" alt="Screen Shot 2021-06-29 at 8 16 27 AM" src="https://user-images.githubusercontent.com/21353732/124167964-5c467d00-da59-11eb-8f27-3e4bcd60294a.png">

Change the loading icon to text (ie. "Graph failed to load") to let the user know that the metrics server failed to connect.

[2021-07-07 17:24] yuqiuw commented on #242
Could even pop up instruction of how to install the metric server (Prometheus) or a button to apply the yml

[2021-07-11 17:18] tianni4104 opened #243 "Use Promethus for the pie charts in the workload page"
We need to use Promethus data for the pie charts in the workload page http://localhost:3000/#!workload

[2021-07-11 17:20] tianni4104 opened #244 "Use Promethus for the pie charts in the ReplicaSet page"
We need to use Promethus for the pie charts in the ReplicaSet page http://localhost:3000/#!replicaset

[2021-07-11 17:23] tianni4104 opened #245 "Use Promethus for the job number in the workload"
We need to use Promethus for the job number in the workload http://localhost:3000/#!workload/job/default/prometheus-operator-161419-admission-create

[2021-07-11 17:25] tianni4104 opened #246 "Fix the Promethus charts for the individual pod"
The charts under the individual pod is a total of all the resources. We need to filter the corresponding data for each one http://localhost:3000/#!pod/default/alertmanager-kube-prometheus-stack-1614-alertmanager-0

[2021-07-11 17:27] tianni4104 opened #247 "Add metric server data to Promethus and update the Promethus usage charts"
The Promethus doesn't include metric server data by default. We need to add an exporter for it to include metric server data. Then we can get the actual usage of CPU and RAM to update the Promethus line charts.

[2021-07-12 14:54] herbrandson commented on #221
@ws-prive I just wanted to clarify one previous question. You said above that you have Keycloak working with other applications. I just wanted to clarify if you meant it's working with k8s outside of skooner, or that it's working for other non-k8s applications. If you have it working with k8s outside of skooner, how are you using it? kubectl? Something else?

Thx for the info. It'll really help us

[2021-07-13 08:41] ws-prive commented on #221
@herbrandson, yes, I have got it working with ArgoCD for example. I did not test non-k8s applications, just within the cluster. Kubectl is something to figure out later. We are using this config with ArgoCD/Keycloak:

https://argoproj.github.io/argo-cd/operator-manual/user-management/keycloak/

[2021-07-13 15:44] herbrandson commented on #221
Great, thx for the extra info. I'm not super familiar with the inner workings of ArgoCD, but looking at the link you provided that looks like it get's OIDC working for ArgoCD but not necessarily for k8s. Do you know if you've configured your k8s cluster w/ an OIDC key? If not, Skooner won't be able to authenticate via OIDC because your cluster wouldn't be configured for OIDC yet.

[2021-07-13 15:46] herbrandson commented on #237
Done :)

[2021-07-13 15:48] #237 closed

[2021-07-13 15:49] herbrandson commented on #237
Done :)

[2021-07-13 16:21] ws-prive commented on #221
Hello,

On my local cluster I do not have the cli stuff, but I do have a cluster where I can test it.

This is the config:
[code]

kubectl is working with keycloak on this cluster.

[2021-07-16 14:01] kfirfer opened #248 "[Feature[ Disable health check success logs"
Hi

The health check logs can be huge overtime
would nice to see ability to disable those logs when they alright (OK - 200)

[2021-07-19 20:01] salvadorac opened #249 "Image updates for Skooner name change"
Updating svg and png images for k-8 to skooner name change

[2021-07-20 17:27] herbrandson commented on #248
Thanks for the feature request. This will likely not be a high priority for the team, but we'd definitely accept a PR :). We already have a `verbose` mode, so I don't think it would be hard to add a `quite` mode

[2021-07-30 18:00] idevera commented on #224
@tianni4104 I am interested in working on this ticket

[2021-08-03 17:19] herbrandson commented on #249
Done :)

[2021-08-03 17:19] #249 closed

[2021-08-05 02:43] yelinaung opened #254 "[Question] Deploying a read-only Skooner Dashboard on the Kube cluster"
Hello, I have a question regarding the Service Account Token based authentication.
I've deployed the dashboard on the cluster with provided YAML file (deployment + service).
I also have created the Service Account, Cluster Role and Cluster Role Binding for **read-only** access to all the resources.
I then run a `kubectl port-forward service/k8dash 9999:80` to check the dashboard at port 9999. I ge

[2021-08-09 16:29] ozlotusflare commented on #210
Hi @mateuszkozakiewicz,
I used `kubectl exec -ti skooner-pod-uniq-name -- sh` end everything works fine.

[2021-08-09 16:31] mateuszkozakiewicz commented on #210
The issue was to exec via webui of skooner not into the skooner pod itself via kubectl.

[2021-08-09 16:31] ozlotusflare commented on #169
Hey guys ,
Could someone tell me how to add  `Authorized redirect URIs` I've tried use `OIDC_METADATA`, but still has error.
Thanks!

[2021-08-09 20:05] ozlotusflare commented on #210
Oh.. I see :)

[2021-08-11 08:30] ozlotusflare opened #256 "[Question] CRD objects support"
Hi dear Skooner team,
Thanks for great dashboard and I have a question , do you have plans add CRD objects visualisation (like in default K8s dashboard), and add ability do some CRUD operation.
Thanks a lot. :)

[2021-08-20 11:50] hariprasadiit opened #258 "Unable to load pages with websocket connections"
I've installed skooner into cluster as per instructions. I'm to access all the pages where websockets are not used. When I try to access pages with websockets (e.g nodes) I'm seeing errors in dev console. please refer image. I've also increased nginx `proxy-read-timeout` and `proxy-send-timeout`

![Screenshot 2021-08-20 at 5 14 51 PM](https://user-images.githubusercontent.com/1260204/130228854-28c

[2021-08-25 16:46] #223 closed

[2021-08-25 16:47] tianni4104 commented on #224
This ticket was already finished by @salvadorac

[2021-08-25 16:47] #224 closed

[2021-08-25 17:09] yuqiuw opened #259 "Make prometheus chart same value with the metric server value, for node cpu usage and memory usage"
Make prometheus chart same value with the metric server value, for node cpu usage and memory usage

[2021-08-25 17:25] tianni4104 opened #260 "Add a state context to determine whether to use Prometheus or not"
We need a state flag in the frontend to determine whether to use Prometheus or not. We will try to send a request to the Prometheus proxy. If it doesn't return 200, we will flag it false and use the old pie charts.

[2021-08-25 17:36] yuqiuw opened #261 "Bug: on the node list page, the mouse always hovers over the graph."

[2021-08-25 17:37] yuqiuw opened #262 "Investivate how long would metrics server update its data"

[2021-08-25 17:41] yuqiuw opened #263 "Put a feature flag to shield all prometheus feature"

[2021-08-25 17:42] yuqiuw opened #264 "Fallback to metric server if prometheus not working"

[2021-08-25 19:56] #261 closed, assigned to yuqiuw

[2021-08-25 20:02] #259 closed, assigned to yuqiuw

[2021-08-26 19:22] #264 closed, assigned to yuqiuw

[2021-08-26 19:24] #262 closed, assigned to nobody

[2021-08-27 16:11] yuqiuw opened #270 "Bug: Pod cpu & ram chart always show overall usage"

[2021-08-31 17:16] #243 closed

[2021-08-31 17:29] yuqiuw commented on #258
The error happens in getMetrics function in metricsHelper, and this means the metrics server isn't sending anything to the dashboard so we're unable to display the charts or anything. We could get this fixed in a better UI and we're trying to working on that in the Prometheus branch (which is still WIP)

So in short this is due to a lack of data. I'd suggest you reboot the Kubernetes or even the w

[2021-08-31 22:19] chargao commented on #254
Thanks for the issue! We just happened to be discussing this same thing today and think it's a great idea. I'll ask if we can prioritize this and enable some kind of read-only mode in the coming months

[2021-09-01 15:53] herbrandson commented on #256
Thanks for the question @ozlotusflare. The team has discussed this and we think it's an interesting idea. We believe it's something we could add to the roadmap, though it's not a high-priority item at the moment. Thx!

[2021-09-03 09:10] vrachok-sc opened #274 "Authorization using token problem"
I try to authorize using token. But I get the error "401 Unauthorized" . Using kubectl port-forward everything works fine.
Еhe problem is that I use the Istio AuthorizationPolicy and Keycloak for authorization. And when I enter the token, as a result, the authorization token that forms by the Keycloak is sent to Skooner.

Could you please implement this feature?
https://github.com/skooner-k8s/skoo

[2021-09-03 10:24] vrachok-sc commented on #97
Any update on this?

[2021-09-08 10:15] saiyam1814 opened #275 "Not able to see the pods view"
![image](https://user-images.githubusercontent.com/8190114/132491363-05dc33c5-fbc5-4c3c-b87e-c446087da92d.png)

Kubernetes version 1.22

logs from skooner pod
[code]

[2021-09-08 10:39] saiyam1814 commented on #275
I tried on a K3s cluster 1.20 as well, same behaviour

[2021-09-16 19:26] nicolass67 commented on #43
Hello,
I enjoy using Skooner on x86_64, but I have trouble on my raspberry pi 4.
I get this :
`standard_init_linux.go:228: exec user process caused: exec format error`

I think the image is not OK for ARM Rpi.
Are there some updates to be able to run skooner on ARM archs ? (or the image tags to use ?

Regards,

[2021-09-17 19:38] nicolass67 commented on #196
Hi all,

@herbrandson ,  I encounter same error even applying the procedure of the link (the one giving a service-account cluster-admin rights.)

I have just a strange behaviour : some parts of skooner are working (accounts, configmaps). Quite all the rest is not working and I get a message :
`"There was an error and this content was unable to be displayed."`

The logs int the Skooner Pod  show :

[2021-09-22 16:41] ankurpshah opened #276 "Getting errors while navigating UI"
Skooner version: stable
Metrics server version: 4.2
Getting error at cluster overview tab:
<img width="1092" alt="Screen Shot 2021-09-22 at 12 35 17 PM" src="https://user-images.githubusercontent.com/66856/134385471-60ba1a63-b662-4392-9b4e-d982daad2622.png">
Error:
[code]

Getting error at node details tab:
<img width="1092" alt="Screen Shot 2021-09-22 at 12 38 37 PM" src="https://user-images.gith

[2021-09-24 04:04] robrich opened #277 "Logout?"
I recently updated from k8dash to Skooner.  I was doing a demo at my group, and noticed I was still logged in from my practice demo.  A quick clear of the cookies/localStorage/cache in Chrome dev tools, and I could demo the login experience.  But it got me thinking.  Short of this "nuke yer browser" technique, what is the proper way to log out of Skooner?  Should we include a log out button on the

[2021-09-29 12:35] fgrelaud commented on #221
Hello,

i got same problem with DEX (not keycloak).

Skooner was good from a while and now got the same error like below.

Any idea to resolve this ?

[2021-09-29 17:12] herbrandson commented on #275
Thanks for reporting this issue @saiyam1814 . We're wondering if there might be something happening on the client side leading to this issue. Could you see if there's any errors in the client side logs if you view the Chrome developer tools? Thx!

[2021-09-29 17:13] herbrandson commented on #276
Looks like something isn't correctly testing for `undefined`. We'll take a look. thx!

[2021-09-29 17:15] herbrandson commented on #277
Thx @robrich . If you go to the "Profile" menu item, there's a "logout" button at the top right-hand corner of the screen. Let me know if that works for you. thx!

[2021-10-01 17:23] saiyam1814 commented on #275
@herbrandson I am using safari and this is what I get
![image](https://user-images.githubusercontent.com/8190114/135661761-4a1d403f-0966-4ecf-a3e0-5343db72521e.png)

I used these commands to setup
[code]
Created an ingress
[code]
Cluster is civo kubernetes which is K3s based
[code]

[2021-10-12 17:13] #277 closed

[2021-11-07 19:32] vidhem opened #278 "Replace libsass (node-sass) with dart sass"
[libsass (provided by node-sass package) is deprecated](https://sass-lang.com/blog/libsass-is-deprecated).

It no longer works with Node 15+ and should be replaced with dart sass which is a native JS implementation. This also has side benefits of not requiring a binary compilation while building the skooner docker image and hence faster install times.

`node-sass` is only required by `react-script

[2021-11-09 19:57] #278 closed

[2021-11-10 19:12] yuqiuw commented on #270
@idevera Reproduce: goto workloads, click into some instance and you'll see this XD

[2021-11-10 19:21] yuqiuw commented on #275
Hopefully this should be resolved now, @saiyam1814 could you try it again?

[2021-11-14 13:46] vidhem opened #285 "Update README with updated ingress spec"
Getting started section for skooner references an ingress spec, the api for which has since been deprecated and no longer works in v1.22+

Update the spec in README and the example yaml to refer to latest non-alpha ingress spec with `apiVersion: networking.k8s.io/v1`.

https://kubernetes.io/docs/concepts/services-networking/ingress/

[2021-11-24 19:30] #43 closed

[2021-11-30 20:36] bpasson commented on #274
Not sure if this will help you, but I had an authorization issue with Keycloak OIDC with skooner. I have the API server on a different client than skooner. If this is the case for you, you might need to add the client-id used for the API server to the `aud` (audience) claim. Say you have skooner running on a scooner client, you need to create a Protocol Mapper of type Audience and select the corre

[2021-12-01 10:30] bpasson commented on #285
In that light, skooner wont display ingresses as it requests them from old ingress api `extensions/v1beta1` and not `networking.k8s.io/v1` for kubernetes clusters v1.22+.

[2021-12-04 19:39] vidhem commented on #285
Oh, that def sounds like something we should fix.

[2021-12-04 19:48] vidhem opened #289 "Optimize docker image build"
ARM builds were recently enabled for arm but it gets stuck for several hours on the second `npm install`
https://github.com/skooner-k8s/skooner/runs/4368974782?check_suite_focus=true

[code]

Optimize the image to be lighter so that it completes on arm. Things that can be tried out –
- Replace `npm install` with `npm ci` to strictly use package-lock and also get faster builds
- ??

[2021-12-14 19:09] sbriskin commented on #39
I have exactly the same problem. It works fine with minikube, but in cluster v1.20 it fails. Any chance to find the solution?

[2021-12-26 12:45] AverageMarcus commented on #258
I'm seeing similar issues with websockets just not seeing to work.

![CleanShot 2021-12-26 at 12 41 36](https://user-images.githubusercontent.com/3384072/147408401-16513eac-80b4-4ee1-97ae-e3c0df3fad3a.png)

**Details:**
Using latest `stable` docker image.
Broswer: Firefox
Ingress: nginx with the following annotations
[code]

Metrics-server is running corretly with no errors. The nodes overview pag

[2022-01-15 16:02] moll-re commented on #43
Am I missing something in order to run on arm64? When pulling this on a raspberry pi 4 (dpkg reports aarch64) I still encouner an `exec format error`. This happens when applying the deployment described in `https://raw.githubusercontent.com/skooner-k8s/skooner/master/kubernetes-skooner.yaml`
Do I need to specify a special tag for the image?

[2022-01-24 13:18] shaololosha opened #294 "Skooner + keycloak integration problem (403 http)"
Hello.

We are trying to set up skooner + keycloak.
_Keycloak offers the following configuration for skooner:_
-------------------------------------------------------
{
  "realm": "kip",
  "auth-server-url": "http://kc.kip.***/auth/",
  "ssl-required": "none",
  "resource": "skooner",
  "verify-token-audience": true,
  "credentials": {
    "secret": "********-6a17-448b-9d89-5d775b9c6d07"
  },
  "c

[2022-02-22 17:43] yuqiuw commented on #274
Hi @vrachok-sc , it looks like your OIDC is not correctly configured. Your logs are showing that `OIDC_URL: None`. Please check your oidc endpoint e.g. `http://skooner.example.com/oidc`, is it showing an empty json? If so, this means you need to pass in the correct ENV vars

[2022-02-22 17:45] yuqiuw commented on #39
Hi guys, could you firstly check your server logs? `kubectl logs deploy/skooner --namespace=kube-system`
If the beginning of the logs are showing `OIDC_URL: None`, and/or that your oidc endpoint e.g. http://skooner.example.com/oidc showing an empty json, this means you need to pass in the correct ENV vars

[2022-02-23 07:35] ckwalsh opened #305 "Upgrade of openid-client from ^4.7.0 to ^5.1.3 broke OIDC for Keycloak"
Blame Revision: adc30aa5e6a14aa2f49f8a1000ed312af5460d81

Comparing https://github.com/panva/node-openid-client/blob/v4.9.1/lib/client.js and https://github.com/panva/node-openid-client/blob/v5.1.3/lib/client.js, oauthCallback() was changed to throw an exception if the id_token field was provided.

I believe server/index.js just needs to up updated to use the callback() method instead of oauthCall

[2022-02-23 09:25] ckwalsh opened #306 "Node version in DockerFile (12.4.0) is has broken TLS handling"
I encountered an issue when configuring skooner to use an auth server with a self-signed certificate, produced by step-ca. After going down the rabbit hole, I found https://github.com/nodejs/node/issues/11771 , which matches what I observed.

The bug was resolved around Node 12.14, I'm not sure exactly which version. When I update the Dockerfile to node:12.22.10-alpine and rebuild locally, I no lo

[2022-02-23 16:38] yuqiuw commented on #101
I added some keycloak configuration instructions to README, please follow https://github.com/skooner-k8s/skooner and report any issue you see, thanks!

[2022-02-23 17:20] ckwalsh commented on #294
Have you set up kube-apiserver to accept OIDC tokens? There are some resources in the README of how to set that up.

Since /oidc is returning 200, but the other is not, it's likely an issue where kube-apiserver is rejecting the token.

Check your kube-apiserver logs

[2022-02-23 22:59] yuqiuw commented on #294
Thanks for commenting! I'll try this when I have more bandwidth.. Recently start to have more work internal

[2022-02-27 08:22] jeff-mccoy commented on #276
That seems like it could be partially related to permissions to view those resources.  However the code does fail to check for this condition and assumes if it received a response, that it should proceed it looks like.  I just started using Skooner yesterday for a project, but will submit a PR this since I'm running into it too.

[2022-03-02 19:25] yuqiuw commented on #305
PR is merged

[2022-03-02 19:26] #305 closed

[2022-03-10 06:10] zemaj commented on #276
Also seeing these errors consistent under the same situations as @akelge - while viewing pods in the kube-system namespace or viewing nodes. Started happening when I upgraded to the latest version of skooner.

[2022-03-14 11:20] karanrn opened #311 "UI does not list ingresses in the cluster"
When we try to view ingresses it is stuck without displaying any of them.
`kubectl get ingress -A` do list ingresses present in a cluster across all namespaces.

And logs of skooner pod do not list any error for ingress listing.

What am I missing here?

[2022-03-15 19:04] kinseii commented on #311
The same problem. I have three kubernetes clusters, kubernetes version 1.21 works fine, but the third one on 1.23 does not work. When accessing ingress, nothing is displayed. In the logs:
`2022-03-15T18:57:11.331Z GET /apis/extensions/v1beta1/ingresses 404`

[2022-03-17 11:57] ampc opened #313 "OIDC integration"
Hello, I followed the Keycloak integration steps but I get the following error on skooner pod

[code]

Any idea how to fix it?

[2022-03-21 13:47] evijayan2 commented on #196
I get the same error in OIDC integration.
ncaught (in promise) Error: Api request error: Forbidden - selfsubjectrulesreviews.authorization.k8s.io is forbidden: User "system:anonymous" cannot create resource "selfsubjectrulesreviews" in API group "authorization.k8s.io" at the cluster scope

[2022-03-22 13:20] steevi opened #314 "Azure Active Directory OIDC Redirect uri?"
I'm trying to integrate skooner with Azure Active Directory. what is the redirect uri I need to put in the app registration?

Thanks a lot

[2022-03-23 09:30] parksquare opened #315 "Order events chronologically"
The 'time' column seems to be sorted by the human readable text, which causes the order to be strange. Would it be possible to order it by the actual underlying date and time?

[2022-03-25 11:40] kinseii commented on #311
May be problem with this:
`Warning: extensions/v1beta1 Ingress is deprecated in v1.14+, unavailable in v1.22+; use networking.k8s.io/v1 Ingress`

[2022-04-06 13:20] xakraz commented on #19
Hello 👋  !
Any update on the topic?

[2022-04-06 13:22] xakraz opened #318 "CronJobs and Jobs support"
It would be great to add support for CronJobs
* List and view CronJobs
* Being able to manually trigger a run of a CronJobs

Thanks !

[2022-04-13 18:10] tianni4104 commented on #318
Thanks for calling it out. We believe that we've already covered CronJobs in our code. But it's a good idea to trigger a run of a CronJobs

[2022-04-14 18:39] #276 closed

[2022-04-28 10:27] edgarkiechle opened #322 "Login failed: Authorization failed OIDC"
Hi there,

I have configured azure active directory for OIDC integration and when I attempt to log in I get the following error message:

An error occurred during the request RPError: id_token detected in the response, you must use client.callback() instead of client.oauthCallback()
    at Client.oauthCallback (/usr/src/app/node_modules/openid-client/lib/client.js:624:15)
    at processTicksAndRej

[2022-04-28 21:19] pwenot commented on #311
No, my ingresses are networking.k8s.io/v1 and same problem in last skooner and last k8dash on arm64

[2022-04-28 23:09] kinseii commented on #311
That's what I'm saying, the problem is that skooner uses v1beta and the new kuber uses v1

[2022-05-03 07:44] karanrn commented on #322
I am facing the same issue but with Okta Integration.
I am getting below error when checked logs from skooner pod -
[code]

Is there are any workaround for the same?

[2022-05-03 15:58] lokegustafsson opened #324 "Font weight - Reading text is straining"
I just tried skooner, and it was unfortunately not a very good experience. I get that browser fonts are different, and people's screens and preferences are as well, but:

For me, having a font weight of 300 causes by browser to use DejaVu Sans ExtraLight, which I find somewhat hard to read. Using this for de-emphasis would be fine, but using it all over makes the webpage extremely unreadable.

Add

[2022-05-03 21:19] trhumphries opened #325 "Consolidated view of Clusters"
have you considered offering a consolidated view. Where a user could group a set of cluster together for display purposes.
For instance we run our app in multiple clusters across the US it would be nice to create a consolidate view and then be able to see all pod in a specific namespace across all of these clusters.

[2022-05-04 08:31] edgarkiechle commented on #322
I found somewhere on the internet that an env var idToken: true could fix it, unfortunately didn't work for me.

[2022-05-04 21:20] trhumphries commented on #256
Maybe CRDs could be supported via plug in to provide a custom UI per type

[2022-05-11 18:10] tianni4104 commented on #324
Thanks for sharing your thoughts. We will take a look and see if it makes sense for the project.

[2022-05-19 20:56] yurymuski commented on #311
yeah faced the same issue `k8s v1.23` and `apiVersion: networking.k8s.io/v1`

[2022-05-26 04:39] Anfesave commented on #19
We really need a update in this topic 😢

[2022-05-27 07:36] idblew opened #331 "OIDC - DEX - Redirect URI"
Hi All,

Does anyone have a fully working OIDC flow using Dex and Skooner?

Although I'm able to re-direct to Dex for the login before I get prompted to enter my credentials it's complaining about "Unregistered redirect_uri ("https://skooner.kubernetes.mydomain.local/callback")".

In my Dex configmap I've configured the following (based on past experience using Dex + OAuth2-Proxy + Dashboard), but

[2022-06-01 15:08] jphuguet commented on #322
Hi !
I had the exact same problem. I built my own skooner image with an up to date code, it made it work (https://github.com/skooner-k8s/skooner/issues/305)

About the `401` or `403` error about the `selfsubjectrulesreviews call,
I made it work using this  :
https://stackoverflow.com/a/60812768

Don't know if it's really the solution though.

[2022-06-07 09:39] christianknell opened #335 "Helm Chart"
Hey guys,

i build and published a Helm Chart for the current stable version of Skooner: https://artifacthub.io/packages/helm/christianknell/skooner.

Have fun using it! :)

[2022-06-08 18:18] herbrandson commented on #331
I don't think that's the correct redirect uri. Have you tried using just `https://skooner.kubernetes.mydomain.local`?

[2022-06-26 16:34] maltegrosse commented on #256
especially traefik's ingressroutes would be interesting...

[2022-06-28 12:08] maese83 opened #338 "Sort not working"
When I want to sort by CPU or RAM request or any other it sort it not in a asc/desc order of texts and not numbers

[2022-06-30 06:39] maltegrosse commented on #322
any eta for the next stable image?

[2022-07-04 07:51] hassanbsee2071 opened #339 "Logging out due to auth error"
Hi Team,

I have implemented skooner using openresty. I am passing Bearer token after authenticating from OIDC. Skooner is setup without OIDC, I also checked setting with OIDC but both of them does not work.  Page is stuck in loop back and I am getting below error:

11:37:17 AM **Logging out due to auth error**
{status: 401, statusText: 'Unauthorized', path: 'api/v1/serviceaccounts'}
path: "api/v1

[2022-07-13 01:11] presidenten opened #340 "Bearer token from OIDC with Goole gets 401 forbidden"
I seem to be logging in properly with google, but everything goes to crap on this line:
https://github.com/skooner-k8s/skooner/blob/master/client/src/views/auth.tsx#L109

Using custom image built from master today, I put a breakpoint there in my browser, so I could explore manually with the token.

I added
[code]

So curling without bearer token works fine.
[code]

Im trying to manually curl the s

[2022-07-14 10:24] presidenten commented on #340
I think I solved it. Going to double check that things still work without oidc, then Ill do a PR

[2022-07-20 05:36] saiyam1814 commented on #275
@herbrandson @yuqiuw the issue still persists, same I just tried on Kubernetes 1.22 and 1.24 same behaviour

[2022-07-20 18:06] tianni4104 commented on #340
Thanks for sharing the detail. We will take a look.

[2022-07-20 18:06] tianni4104 commented on #339
Thanks for sharing the detail. We will take a look.

[2022-07-21 06:49] saiyam1814 opened #341 "Help on skooner and OIDC connect via keycloak?"
This is what my client looks like -
<img width="1195" alt="Screenshot 2022-07-21 at 12 16 45 PM" src="https://user-images.githubusercontent.com/8190114/180147916-1100ea49-c04a-43c2-94c1-7fa2f03a1d19.png">

My Keycloak is running at `http://74.220.17.8:8080/`
This is how my secret looks like
[code]
where
`OIDC_URL=http://74.220.17.8:8080/realms/master`

When I login to `http://a3869259-c651-4eab-be

[2022-07-22 06:17] maltegrosse commented on #341
oidc with keycloak is anyhow currently broken - see #322

[2022-07-22 12:34] saiyam1814 commented on #341
I was able to redirect to keycloak and authenticate but after the the sooner screen is just refreshing and not showing anything.

[code]

[2022-08-02 10:21] devopstales commented on #322
Until the next stable image I built my image from master and it is working with the keycloak: devopstales/skooner:20220802

[2022-08-02 10:21] devopstales commented on #341
Until the next stable image I built my image from master and it is working with the keycloak: devopstales/skooner:20220802

[2022-08-05 10:38] maltegrosse commented on #341
@devopstales great, thanks for providing this container...

[2022-08-05 10:55] saiyam1814 commented on #341
@devopstales can you also share Keycloak details?
"$OIDC_URL"
"$OIDC_ID"
I also used the image built from master.

[2022-08-05 11:01] maltegrosse commented on #341
its `OIDC_CLIENT_ID` not `OIDC_ID` -> see README.md  https://github.com/skooner-k8s/skooner#troubleshooting
[code]

I can confirm that @devopstales image works fine...

[2022-08-05 11:27] saiyam1814 commented on #341
Thanks @maltegrosse, I am no expert in Keycloak, can you see the secrets and URLS I used are right ?

id - skooner
URL - http://74.220.17.8:8080/realms/skooner
redirect URL - http://a3869259-c651-4eab-be4e-ddcba12856f1.k8s.civo.com/*
This is where my skooner is running - http://a3869259-c651-4eab-be4e-ddcba12856f1.k8s.civo.com

[2022-08-05 11:45] maltegrosse commented on #341
better try to setup keycloak properly behind an https endpoint + subdomain and get to used to the basic functionalities...  (there are plenty of tutorials out there). once you 100% sure that its working go further and start again with skooner.. (also use an ingress in front of skooner...)

[2022-08-05 11:50] saiyam1814 commented on #341
So if you see above the skooner is the ingress
[code]
Keycloak setup is straightforward... I will recheck - I am pretty sure its one of the URL's -> redirect URL that I am not getting right.

[2022-08-05 13:43] markormesher commented on #311
If anyone is using Skooner with Traefik, the following middleware will let you work around this for now:

[code]

Of course, if you're using Traefik with K8s you're probably using the `IngressRoute` CRD, in which case this is moot anyway, but it might help someone.

[2022-08-06 05:22] saiyam1814 opened #343 "Unauthorized after OIDC 200"
I used Keycloak with skooner and below are my keycloak configs
My skooner is running at - `http://a3869259-c651-4eab-be4e-ddcba12856f1.k8s.civo.com`
Keycloak - 74.220.17.8:8080
URL - `http://74.220.17.8:8080/realms/skooner`
id - skooner
redirect URl - `http://a3869259-c651-4eab-be4e-ddcba12856f1.k8s.civo.com/*`

the /oidc return 200 but then there are 401 errors, any pointer on this ?

[code]

[2022-08-11 08:43] pcgeek86 opened #346 "🐛 Error when attempting to view Kubernetes Node details"
When I try to view node details in a Kubernetes cluster, I get an error.

<img width="1257" alt="Screen Shot 2022-08-11 at 2 42 03 AM" src="https://user-images.githubusercontent.com/466713/184096196-63ff194d-28fd-43bd-9ada-e1197e34e0cf.png">

### Repro Steps

- Install Skooner
- Login to web UI
- Click on **Nodes**
- Click on a specific node name, to view its details

[2022-08-11 08:57] pcgeek86 opened #347 "[Feature] Add button to force refresh, and set custom refresh interval"
## Summary

As a user of Skooner, who is viewing Kubernetes cluster metrics, I would like to set a custom refresh interval (ie. 3 seconds). I would also like a button in the web UI that allows me to force an immediate refresh.

[2022-08-16 09:55] ashokkumarprajapati commented on #341
@saiyam1814 I faced similar error when I was using KUBE_CONF file generated by Rancher. Since Rancher usage its own auth proxy, Skooner will not work with it.
When switched to KUBE_CONF context with direct url to cluster, it worked fine with Keycloak+Skooner.

[2022-08-17 17:33] saiyam1814 commented on #341
Great @ashokkumarprajapati , I still couldn't make it work
I have these https://github.com/skooner-k8s/skooner/issues/341#issuecomment-1206341794
and I did not run with Rancher generated cluster.
What does your URl's etc looks like in skooner and keycloak?

[2022-08-17 18:05] tianni4104 commented on #346
@pcgeek86 Could you provide more error logging info for this issue?

[2022-08-17 18:10] tianni4104 commented on #347
Thanks for your idea. We can start with storing it in the localStorage and it's a good first-time ticket.

[2022-08-19 09:27] ZrytyADHD opened #349 "Skooner don't show any data after install"
Hi,
i try to use skooner dashboard for my Tanzu kubernetes cluster.
Following with install instruction I was able to login etc but i don't see anything.
Everything i screated deployment, sa. Checking logs don;t show anything suspicious.
After login page i loaded and on node section is still loading.

[2022-08-19 09:38] ZrytyADHD commented on #349
Ok,
I reslove it my self
deployment of skooner put it in kube-system namespace but sa in default namespace
kubectl create clusterrolebinding skooner-sa --clusterrole=cluster-admin --serviceaccount=default:skooner-sa

To get it work the line shoud be look like this:
kubectl create clusterrolebinding skooner-sa --clusterrole=cluster-admin --serviceaccount=kube-system:skooner-sa

[2022-08-21 12:47] liboz commented on #346
@tianni4104 I think this bug has been fixed in the main branch since https://github.com/skooner-k8s/skooner/pull/309. However, there's been no released new image. Could you please release a new image so that everyone can easily have access to this fix?

[2022-09-08 08:27] HenrikDK commented on #258
Can confirm the same on our AKS clusters have tested both with nginx and kong ingress controllers, and nothing seems to get through.

[2022-09-09 08:42] AdwitiyaMishra commented on #347
Hi @pcgeek86, is the issue still available. Being a first time contributor, I would like to work on it.

[2022-09-09 08:44] AdwitiyaMishra commented on #338
Hi @maese83 @tianni4104, is the issue still available. Being a first time contributor, I would like to work on it.

[2022-09-09 08:47] AdwitiyaMishra commented on #242
Hi @idevera @yuqiuw, is the issue still available. I would like to work on it.

[2022-09-12 01:20] zemaj commented on #346
Yeah this has been fixed in the main branch since Apr. This has been an issue for us since the start of the year. Can we get it released, please @tianni4104?

[2022-09-26 06:53] honza801 opened #358 "Add Footer element at the bottom of the index page"
Hi,

we are forced to append some custom legal text onto the main page of skooner. There is no such option to do this at this time. I have made a pull request to accomlish this feature. It adds an option to define custom text in the footer by environment variable REACT_APP_FOOTER.

https://github.com/skooner-k8s/skooner/pull/352

Please merge,
Jan

[2022-10-15 17:41] deba10106 commented on #169
Hi! were you able to solve it? I also need the solution! Could you help?

[2022-10-15 17:42] deba10106 commented on #340
Could someone help me understand how to set the redirect URL in the yaml meta data?

[2022-10-18 20:35] tianni4104 commented on #347
@2022H1030042G  It's still available. Feel free to take it.

[2022-10-25 13:52] elieassi opened #361 "Service Account Token Login"
If your cluster is Kubernetes 1.24 or a more recent release, even tho the clusterrolebinding role is executed correctly, a secret/token will not be automatically generated anymore for the serviceaccount.

You need to create a secret for the service account,  the supplied commands plus creating the secret can be all achieved for example by the following file

[code]

[2022-11-08 19:46] yuqiuw commented on #341
Hey guys we pushed a new stable version a month ago, would that resolve your issues?

[2022-11-08 19:53] yuqiuw commented on #343
Hi, we pushed some updates to the new stable release, could you try that again?

[2022-11-08 19:56] yuqiuw commented on #294
We pushed out updated patches to stable release, could you try that again?

[2022-11-09 17:04] yuqiuw commented on #341
I think it's important to use ingress and use the https endpoint as skooner base URL: elsewise you'll meet "An error occurred during the request TypeError: only valid absolute URLs can be requested"

[2022-11-10 16:26] matthiasbaldi commented on #361
I did exactly that and "matched" additionally the ServiceAccount over the secrets attribute to the secret it self.
[code]

But I get still `2022-11-10T16:23:02.110Z POST /apis/authorization.k8s.io/v1/selfsubjectrulesreviews 403` in the logs.
Where you able to log in after settings this configuration?

[2022-11-10 16:48] yuqiuw commented on #361
Hi @matthiasbaldi , I'm actively working on a patch for this issue. Please wait for an hour till I push it.

[2022-11-10 16:50] matthiasbaldi commented on #361
Oh cool 👍 Thank you.

[2022-11-10 16:51] yuqiuw commented on #361
Basically could you try create your secret with

[code]

Note that you don't need double quote for --from-literal param

Also there's another issue around clusterRole, I'm pushing something to a patch branch...

[2022-11-10 16:55] yuqiuw commented on #361
OK I pushed this branch https://github.com/skooner-k8s/skooner/pull/368, it's basically just readme updates with some examples. Feel free to read through it

[2022-11-10 17:37] yuqiuw commented on #361
Hi @elieassi I included your suggestion in the Readme, thanks for the contribution. @matthiasbaldi  new stable was released, please follow the troubleshooting part for keycloak. Please open a new issue if you're still blocked.

[2022-11-10 17:37] #361 closed

[2022-11-10 17:39] yuqiuw commented on #343
New stable was released and we fixed two pieces of documentation flaws.
Please follow through with the keycloak troubleshooting section and report any issues with a new ticket or reopen this. Thanks!

[2022-11-10 17:39] #343 closed

[2022-11-10 17:40] yuqiuw commented on #101
New stable was released and we fixed two pieces of documentation flaws.
Please follow through with the keycloak troubleshooting section and report any issues with a new ticket or reopen this. Thanks!

Specifically, you can pay attention to the clusterrole part, which I believe will resolve your issue

[2022-11-10 17:40] #101 closed

[2022-11-10 17:40] yuqiuw commented on #341
New stable was released and we fixed two pieces of documentation flaws.
Please follow through with the keycloak troubleshooting section and report any issues with a new ticket or reopen this. Thanks!

[2022-11-10 17:40] #341 closed

[2022-11-10 17:40] yuqiuw commented on #322
New stable was released and we fixed two pieces of documentation flaws.
Please follow through with the keycloak troubleshooting section and report any issues with a new ticket or reopen this. Thanks!

[2022-11-10 17:40] #322 closed

[2022-11-10 17:41] yuqiuw commented on #340
New stable was released and we fixed two pieces of documentation flaws.
Please follow through with the keycloak troubleshooting section and report any issues with a new ticket or reopen this. Thanks!

[2022-11-10 17:41] yuqiuw commented on #340
btw, the redirect url is set in keycloak not in yaml metadata

[2022-11-10 17:41] #340 closed

[2022-11-10 17:42] yuqiuw commented on #339
New stable was released and we fixed two pieces of documentation flaws.
Please follow through with the keycloak troubleshooting section and report any issues with a new ticket or reopen this. Thanks!

[2022-11-10 17:42] #339 closed

[2022-11-10 17:42] yuqiuw commented on #331
New stable was released and we fixed two pieces of documentation flaws.
Please follow through with the keycloak troubleshooting section and report any issues with a new ticket or reopen this. Thanks!

[2022-11-10 17:42] #331 closed

[2022-11-10 17:43] yuqiuw commented on #313
That doesn't seem like an issue in skooner.

Also new stable was released and we fixed two pieces of documentation flaws.
Please follow through with the keycloak troubleshooting section and report any issues with a new ticket or reopen this. Thanks!

[2022-11-10 17:43] #313 closed

[2022-11-10 17:44] yuqiuw commented on #314
That depends on your ingress. New stable was released and we fixed two pieces of documentation flaws. I added an example of setting ingress up in provision/keycloak
Please follow through with the keycloak troubleshooting section and report any issues with a new ticket or reopen this. Thanks!

[2022-11-10 17:46] yuqiuw commented on #169
I think that is defined in google Auth side rather than some URL that's passed to skooner? Skooner will call the OIDC_URL to get the redirection url

[2022-11-10 17:46] yuqiuw commented on #169
New stable was released and we fixed two pieces of documentation flaws.
Please follow through with the keycloak troubleshooting section and report any issues with a new ticket or reopen this. Thanks!

[2022-11-10 17:46] #169 closed

[2022-11-10 17:46] yuqiuw commented on #221
New stable was released and we fixed two pieces of documentation flaws.
Please follow through with the keycloak troubleshooting section and report any issues with a new ticket or reopen this. Thanks!

[2022-11-10 17:46] #221 closed

[2022-11-10 17:47] yuqiuw commented on #39
New stable was released and we fixed two pieces of documentation flaws.
Please follow through with the keycloak troubleshooting section and report any issues with a new ticket or reopen this. Thanks!

[2022-11-10 17:47] #39 closed

[2022-11-10 17:47] yuqiuw commented on #274
New stable was released and we fixed two pieces of documentation flaws.
Please follow through with the keycloak troubleshooting section and report any issues with a new ticket or reopen this. Thanks!

[2022-11-10 17:48] #274 closed

[2022-11-10 17:48] yuqiuw commented on #294
New stable was released and we fixed two pieces of documentation flaws.
Please follow through with the keycloak troubleshooting section and report any issues with a new ticket or reopen this. Thanks!

[2022-11-10 17:48] #294 closed

[2022-11-10 17:48] yuqiuw commented on #99
New stable was released and we fixed two pieces of documentation flaws.
Please follow through with the keycloak troubleshooting section and report any issues with a new ticket or reopen this. Thanks!

[2022-11-10 17:48] #99 closed